@media only screen and (max-width: 1200px) {




  .countrySelect {

    width: 75%;
    height: 58px !important;
    top: 144px !important;
    margin-right: 440px;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200 !important;
    margin-top: 324px;
    z-index: 1 !important;
    position: relative !important;
    padding-top: 4px;
    padding-right: 21px;
    padding-bottom: 2px;
    border-radius: 9px !important;
    font-family: 'dana';



  }

  .citySelect,
  .countrySelect {
    background-color:transparent;
    color: rgb(255 255 255) !important;
    z-index: 0;
    font-size: 15px !important;
    border-radius: 8px !important;
    border: 1px solid #a2a2a2 !important;
}
  .ticket-image {

    top: 552px;
    display: flex !important;
    transform: scaleX(1.1)scale(.2) !important;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    right: 127px;
    left: 0px;
    z-index: 333333;
    width: 150px;
    height: 100px;
}



  .ticket-image-tow {
    display: flex !important;
    transform: scaleX(1.2)scale(.2) !important;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    right: 512px;
    left: 0px;
    z-index: 1;
    width: 150px;
    height: 100px;
    top: 70px;
  }

  .citySelect {
    width: 75%;
    height: 58px !important;
    font-family: 'dana';
    top: -11px !important;
    font-weight: 200 !important;
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    right: 102px;
    margin-right: -44px;
    padding-right: 15px;
    border-radius: 8px !important;
    z-index: 5555 !important;
    position: relative;


  }

  .container-select {
 
    background-color: #0a0092!important;
    width: 851px !important;
    margin-left: auto !important;
    margin-right: auto !important;
 
    border-radius: 18px !important;
    position: relative !important;
    top: -1986px !important;
    height: 270px !important;
    padding-top: 263px;
    display: block !important;
    right: 0px !important;
}
  .countrySelect:active {
    box-shadow: rgb(74, 81, 92)2px 5px 7px 1px,
      rgba(77, 77, 77, 0.9) 2px 2px 2px 0px !important;
    margin-top: 326px;
  }

  .citySelect:active {
    box-shadow: rgb(74, 81, 92)2px 5px 7px 1px,
      rgba(77, 77, 77, 0.9) 2px 2px 2px 0px !important;
    top: -9px !important;
  }

}

@media only screen and (max-width: 992px) {


  .container-select {



    top: 422px !important;

  }








  .countrySelect {

    width: 200px;
    height: 40px !important;


    position: absolute;
    margin-right: -561px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 431px;
  }

  .countrySelect:active {
    position: relative;
    margin-top: 436px !important;
    right: 50px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .citySelect:active {
    top: -573px !important;
    width: 280px;
    height: 44px !important;
    border: 0px;
    padding: 0px;
    padding-right: 99px;
    position: absolute;
    margin-right: auto;
    font-size: 16px;
    font-weight: 900;

    position: relative;
    margin-left: auto;
    right: 396px !important;
    border: rgb(255, 255, 255)solid 1px !important;
  }

  .citySelect {
    width: 213px !important;
    height: 44px !important;
    border: 0px;
    padding: 0px;
    padding-right: 16px;
    position: absolute;
    margin-right: auto;
    font-size: 11px !important;
    font-weight: 900;
    top: -586px !important;
    position: relative;
    margin-left: auto;
    right: 396px !important;
    border: rgb(255, 255, 255)solid 1px !important;
  }








}

@media only screen and (max-width: 768px) {
  .countrySelect {
    width: 200px;
    height: 35px !important;
    position: absolute;
    margin-right: -683px;
    text-align: center;
    font-size: 15px;

    margin-top: -773px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px !important;
    border: rgb(14 14 14 / 90%) solid 1px !important;
  }

  .citySelect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 760px;
    border-radius: 6px !important;
    width: 179px;
    height: 44px !important;
    border: 0px;
    padding: 12px;
    padding-right: 15px;
    position: absolute;
    margin-right: auto;
    font-size: 14px !important;
    top: -295px !important;
    position: relative;
    margin-left: auto;
    right: 96px !important;


  }


}

@media screen and (max-width: 576px) {


  .countrySelect {

    width: 180px;
    height: 35px !important;
    border: rgb(14 14 14 / 90%) solid 1px !important;
    font-size: 13px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 15px;
    margin-top: 350px;
    margin-right: -651px;
    border-radius: 6px !important;
  }

  .citySelect {
    width: 200px;
    height: 35px !important;

    position: absolute;
    margin-right: -380px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 420px;
    border-radius: 6px !important;

  }







}


@media screen and (min-width: 1200px) {
  .option {
    border-radius: 10px !important;
    font-family: 'dana'!important;
    font-weight: 400 !important;
    color: #ffffff !important;
    font-size: 20px!important;
    background-color: rgb(12, 40, 63) !important;
    ;
  }
  .option:hover {
    cursor: pointer !important;
    background-color: #242437!important;
  }

.move-select{
  border-radius: 10px !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    background-color: rgb(98, 43, 226) !important;
}

.container-select-child{
  background-color: transparent!important;
  display: block!important;
  height: 232px!important;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 599px;
  padding-right: 63px;
  position: absolute;
  right: 0;
  top: -450px!important;
  width: 1009px;
  z-index: 555555555;
  border: 2px solid #f1f1f1!important;
  border-radius: 7px !important;


}
  .container-select {
    top: 6368px!important;
    background-color: #1004bb!important;
    display: block!important;
    height: 470px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 590px;
    padding-right: 63px;
    position: absolute;
    right: 0;
    z-index: 555555555;
    padding-top: 104px;
    width: 1200px;
    border-radius: 30px;
}




  .countrySelect:hover {
    color: rgb(233, 233, 233) !important;

  }

  .citySelect:hover {
    color: rgb(233, 233, 233) !important;

  }



  .countrySelect {
    width: 300px !important;
    height: 56px !important;
   
    padding: 11px 14px;
    position: absolute;
    text-align: center;
    padding-bottom: 12px !important;
    font-weight: 400 !important;
    padding-right: 11px !important;
    top: 1167px;
    right: 110px;
    z-index: 0;
    margin-right: -91px;
    margin-left: auto !important;
    transform: scale(1.2);
    text-align: right;
   


  }





  .countrySelect:active {
    top: 1169px !important;
  }

  .citySelect,.countrySelect {

    background-color: transparent!important;
    color: #ffffff !important;
    z-index: 0;
    font-size: 15px !important;
    border-radius: 8px !important;
  
    font-family: 'dana';
    font-weight: 400 !important;
    position: absolute;
    border: 1px solid #ffffff;
}


.citySelect {
   
  transform: scale(1.2);
  width: 300px !important;
  height: 56px !important;

  padding: 6px 1px;
  position: absolute;
  padding-right: 22px !important;
  text-align: center;
  padding-bottom: 3px !important;
  font-weight: 400 !important;
  padding-left: 0px !important;
  text-align: right;
  right: 618px;
  margin-right: -91px;
  margin-left: auto !important;
  top: 1050px !important;


  }

  .citySelect:active {

    top: 1052px !important;
  }




  .ticket-image {
    top: 1138px !important;
    display: flex !important;
    transform: scale(.27) !important;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    right: 91px;
    left: 0px;
    z-index: 1;
    width: 157px;
    height: 119px;
    padding: 24px;
    border-radius: 18px;





  }


  .ticket-image-tow {
    top: 1022px !important;
    display: flex !important;
    transform: scale(.27) !important;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    right: 586px;
    left: 0px;
    z-index: 1;
    width: 157px;
    height: 119px;
    padding: 24px;
    border-radius: 18px;



  }


}