
.pruoducts-body {
  position: relative;

  height: 1431px;
  margin-top: 239px;
  background-color: #121723;
  width: 91%;
  margin-right: auto;
  margin-left: auto;
  top: -75px;
}
@media only screen and (max-width: 1200px) {
  .pruoducts-body {
   
    height: -moz-fit-content;
    height: 1542px;
    margin-top: 0px; 
    position: relative!important;

    margin-right: auto!important;
    margin-left: auto!important;
    right: 0px!important;
    left: 0px!important;

}

}

@media only screen and (max-width: 992px) {
  .pruoducts-body {


    height: 1868px;
    margin-top: 186px;
    width: 93%;
    position: relative!important;

    margin-right: auto!important;
    margin-left: auto!important;
    right: 0px!important;
    left: 0px!important;

}  

.nnn{    position: relative;
  top: -158px;
}


}

@media only screen and (max-width: 768px) {



}
@media screen and (max-width: 576px) {
  .pruoducts-body {
  
    height: -moz-fit-content;
    height: 3231px;
    margin-top: 151px;   background-color: #2a2c3a;
    position: relative!important;

    margin-right: auto!important;
    margin-left: auto!important;
    right: 0px!important;
    left: 0px!important;
}
  .nnn{width: 560px;
  }

}
@media screen and (max-width:358px) {
  .pruoducts-body {
    position: relative;
    height: -moz-fit-content;
    height: 3231px;
    margin-top: 151px;
    background-color: #2a2c3a;

  
}
  .nnn{width: 560px;
  }
}
