@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");












@media only screen and (max-width: 1200px) {

    .online-shop {

        color: #3b00a8 !important;
    }



    .button-register {



        border: 1px solid #dbab18;

        background-color: transparent;
        color: rgb(255, 255, 255);
    width: 95px;
    height: 39px;
   
    position: absolute;
    z-index: 30;
    right: 978px !important;
    top: 13px !important;
    padding: 4px 4px;
    border-radius: 8px !important;
    margin-left: auto;
    text-align: center;
    font-size: 12px;
    font-family: 'dana';
    font-weight: 400 !important;
    



    }

    .button-register:active {
        transform: scale(.94);
    }

    .button-register:hover {
        transition: all .1s ease;
        border: 1px solid rgb(255, 255, 255);
        color: #ffffff;


        background-color: rgb(2, 0, 145);
    }






    .nav {
        display: flex;
        justify-content: space-between;
        padding-left: 224px;
        position: fixed;
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px !important;
        z-index: 66666 !important;
        height: 71px !important;
        top: 0px;
        padding-top: 0px !important;
        width: 1185px;
        margin-right: -513px;
        padding-right: 96px;
        margin-bottom: -15px;
        height: 100px;

        border-top: 1px solid rgb(92, 91, 91) !important;
      
        background-image: linear-gradient(to left bottom,#3f3dd8,#3750bd);

      

    }






    .navbrand:hover {

        border-radius: 8px;

        color: #ffffff !important;
        background-color: #4079a8;
        filter: sepia(0%);


    }

    .container {
        top: 65px;
        margin-left: auto;
        max-width: none;
        margin-right: auto;
        display: block;
    }



    .container-valed-navbar {
        width: 200px !important;
        position: relative !important;

    }



    .valed-navbar {
        width: 200px !important;
        position: absolute !important;

    }



}

@media only screen and (max-width: 992px) {



    .button-register {
        color: rgb(186, 255, 240);
        width: 120px;
        height: 50px;
        background-color: #020c22;
        position: fixed;
        z-index: 30;

        top: -23px !important;
        margin: 51px;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        border: 1px solid rgb(144, 243, 222);
        transform: scale(.9);



    }

    .button-register:active {
        transform: scale(.94);
    }

    .button-register:hover {
        transition: all .1s ease;
        border: 1px solid rgb(255, 255, 255);
        color: #ffffff;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        background-color: rgb(2, 0, 145);
    }









    .nav {


        display: flex;
        justify-content: space-between;
        position: fixed;
        text-decoration: none;
        font-weight: bolder;

        z-index: 66666 !important;
        top: -4px;
        width: 1059px;
        padding-top: 19px;

    }












    .container {
        top: 65px;
    }







}

@media only screen and (max-width: 768px) {


    .nav {
        display: flex;
        justify-content: space-between;
        padding-left: 224px;
        position: fixed;
        text-decoration: none;
        font-weight: bolder;
        font-size: 16px !important;
        z-index: 1;
        height: 105px !important;
        top: 0px;
        padding-top: 16px !important;
        width: 1185px;
        margin-right: -513px;
        padding-right: 96px;
        margin-bottom: -15px;
        height: 100px;







    }



    .button-register {
        color: rgb(255, 245, 245);
        width: 120px;
        height: 50px;
        background-color: #0c53bd;
        position: fixed;

        z-index: 30;
        left: 1px;
        top: 93px !important;
        margin: 51px;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        transform: scale(.85) !important;
        border: 2px solid rgb(234, 243, 241);
    }



    .nav {

        display: flex;
        justify-content: space-between;

        padding: 1rem 0;



        position: fixed;
        text-decoration: none;

        font-weight: bolder;
        font-size: 15px;
        z-index: 66666 !important;
        height: 56px;
        display: none;
        top: -21px;

    }



    .container {
        top: 65px;
    }








}

@media screen and (max-width: 576px) {

    .button-register {
        color: rgb(186, 255, 240);
        width: 120px;
        height: 50px;
        background-color: #020c22;
        position: fixed;
 
        z-index: 30;
        right: -41px !important;
        top: -23px !important;
        margin: 51px;
        padding: 3px 4px;
        border-radius: 8px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
        border: 1px solid rgb(144, 243, 222);
    }

 

    .nav {
        position: fixed;
        text-decoration: none;
        width: 1350px;
        font-weight: bolder;
        font-size: 15px;
        z-index: 66666 !important;
        height: 56px;
        margin: 21px -91px;
    }



    .container {
        top: 65px;
    }





}


@media only screen and (min-width: 1200px) {
    .online-shop {

        color: #3b00a8 !important;
    }


    .button-register {

        background-color: #ffffff;
        color: #000000 !important;
      
       
        width: 105px;
        height:40px;
        
        border: none!important;
        transition: all .1s ease;
    
      
        position: absolute;

        z-index: 30;
        right: 1670px !important;
        top: 26px !important;
        padding: 3px 4px;
        border-radius: 5px !important;
        margin-left: auto;
        text-align: center;
        font-size: 14px;
        font-family: 'dana';
        font-weight: 400 !important;
  


    }

    .button-register:active {
        transform: scale(.95);
    }

    .button-register:hover {
 
        transition: all .1s ease;
        background-color: rgb(223, 223, 223);

     
       
        font-family: 'dana';
     
     
    }

    .container-valed-navbar {
        width: 200px !important;
        position: relative !important;
     
    }



    .valed-navbar {
        width: 200px !important;
        position: absolute !important;
     
    }


    .nav {

        background-image: linear-gradient(to left bottom,#3f3dd8,#0b1891);
        opacity: 1 !important;
        display: flex;
        font-size: 15px;
        height: 82px;
        justify-content: space-between;
        margin-right: -1232px;
        
        padding: 25px 354px 0 434px;
        position: fixed;
        top: -12px;
        width: 2358px;
        z-index: 1 !important;
        padding-right: 1021px;
   
    



    
    }




    .container {
        top: 65px;
    }
}