@media only screen and (max-width: 1200px) {

    .info-button {

        margin-right: auto;
        margin-left: auto;
        right: 0px;
        position: absolute;
        left: 0px;
        width: 120px;
        height: 60px;
        top: 250px;
        background-color: #9fb2e3 !important;
        margin-top: 0px !important;
        color: #000000;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 15px;
        text-align: center;
        padding: 10px;
        border: none;
        font-family: 'dana' !important;
        font-weight: 400;

    }

    .progress-bar {
        color: #000000;
        padding-top: 8px;
        font-family: 'y';
        background-color: #9fb2e3 !important;
    }

    .h-course-info {
        margin-right: auto;
        margin-left: auto;
        right: 0px;
        position: absolute;
        left: 0px;
        top: -29px;

        margin-top: 200px;

        color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'dana' !important;
        font-size: 13px;
        text-align: center;
        padding: 10px;
        border: none;

        font-weight: 400;
    }

    .hover-parent {

        width: 700px !important;
        position: absolute;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px !important;
        height: 327px !important;
        top: 454px;
        right: 0px;
        opacity: 1;
        z-index: 1 !important;
        color: white;
        font-family: 'vazir';
        background-color: #aca269 !important;

    }

    .main-course-body {
        
        position: absolute;
        top: 464px !important;
        background-color: #ffffff;
    }






    .main-course-container {
        margin-top: -33rem !important;
    }


    .hover-left-child-price,
    .hover-left-child-sath,
    .hover-left-child-online {

        top: -172px !important;
        color: #ffffff !important;
        font-family: 'dana' !important;
        position: relative;
        font-size: 15px;
        font-weight: 400 !important;
        line-height: 26px !important;
        letter-spacing: 1px !important;
        word-spacing: 2px !important;

    }

    .hover-left-child-price-adad {

        color: #d3bf11 !important;
        font-family: 'y' !important;
        top: 3px;
        position: relative;
        font-size: 15px;
    }


    .h-course {
        width: 90% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px;
        right: 0px !important;
        position: absolute;
        background-color: transparent;
        display: flex;
        font-family: 'y';
        color: #000000 !important;
        line-height: 31px;
        font-weight: 500;
        height: 1000px;
        top: 115px;
        z-index: 0 !important;
        text-align: center;
        border: 2px solid #d6d6e1;
        padding: 30px;
        border-radius: 8px;
        font-size: 14px !important;

    }


    .p-course {
        width: 90% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px !important;
        right: 0px !important;
        top: 55px;
        z-index: 2 !important;
        position: absolute !important;
        font-size: 20px !important;
        background-color: #9fb2e3 !important;
        margin-top: 0px !important;
        color: #000000 !important;
        margin-right: auto;

        border-top-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
        margin-left: auto;
        border-radius: 0px;
        text-align: center;
        font-family: 'dana' !important;
        font-weight: 400 !important;
        height: 70px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: none !important;
        border: 2px solid #d6d6e1;
    }


    .parent-image-course {
        width: 100% !important;
        z-index: -1 !important;
        position: absolute;
        height: 100% !important;
        border: 2px solid #ffffff;

        border-radius: 3px;
        overflow: hidden;
    }


    .image-course {
        right: 0px;
        width: 95% !important;
        top: 10px !important;
        left: 0px !important;
        position: absolute;
        display: flex;
        margin-left: auto !important;

        margin-right: auto !important;
        border-radius: 5px !important;
        border: 1px solid #1f1c1c;
    }



    .showlup {
        background-color: rgb(7 13 28) !important;
        width: 100% !important;
        position: absolute;
        z-index: 1 !important;
        height: 142% !important;
        padding-top: 138px !important;
        font-size: 17px;
        background-color: transparent;
        top: 0px !important;
        align-items: center;
        display: flex !important;
        justify-content: center;
        color: #ffffff !important;
        font-family: 'dana';
        flex-direction: column;
        transition: all .5s ease-in;
        right: 0px;
        opacity: .98;
        font-weight: 400;


    }



    .hidden {
        background-color: rgb(7 13 28) !important;
        width: 100% !important;
        position: absolute;
        z-index: 1 !important;
        height: 142% !important;
        padding-top: 138px !important;
        font-size: 17px;
        background-color: transparent;
        top: 0px !important;
        align-items: center;
        display: flex !important;
        justify-content: center;
        color: #ffffff !important;
        font-family: 'dana';
        flex-direction: column;
        transition: all .5s ease-in;
        right: 0px;
        opacity: .98;
        font-weight: 400;
        opacity: 0;

    }


    .progress {
        display: flex;
        height: 3rem;
        overflow: hidden;
        line-height: 0;
        font-size: .703125rem;
        background-color: #ffffff;
        border-radius: 0.35rem;
        top: 24px;
        position: relative;
        width: 95%;
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px !important;
        left: 0px !important;

    }



}

@media only screen and (max-width:992px) {

    .info-button {


        top: 450px;


    }

    .h-course-info {

        top: 11px;
        margin-top: 200px;
    }

    .info-button {

        top: 284px;

    }

    .main-course-body {
        position: absolute;
        top: 316px !important;
        background-color: #000000;

    }







    .parent-image-course {
        width: 100% !important;
        z-index: 444444444444335 !important;
        position: absolute;
        height: 100% !important;
    }

    .image-course {

        width: 98% !important;
        top: 5px !important;

        position: absolute;
        display: flex;

        border-radius: 1px !important;

        height: 96% !important;

    }

    .h-course {
        margin-right: auto !important;
        margin-left: auto !important;
        right: 20px !important;
        position: absolute;

        background-color: transparent;
        display: flex;
        font-family: 'dana';
        color: #ffffff !important;
        line-height: 31px;
        font-weight: 400;
        height: -moz-fit-content;

        top: 115px;
        z-index: 0 !important;



    }


    .p-course {



        width: 90% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px !important;
        right: 20px !important;
        top: 55px;
        z-index: 2 !important;
        position: absolute !important;
        font-size: 20px !important;
        margin-top: 0px !important;

        color: #000000 !important;
        margin-right: auto;

        border-top-right-radius: 15px !important;
        border-top-left-radius: 15px !important;
        margin-left: auto;
        border-radius: 0px;
        text-align: center;
        font-family: 'dana' !important;
        font-weight: 400 !important;
        height: 70px !important;

    }


    .progress {
        display: flex;
        height: 3rem;
        overflow: hidden;
        line-height: 0;
        font-size: .703125rem;

        border-radius: 0.35rem;
        top: 34px;
        position: relative;
        width: 95%;
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px !important;
        left: 0px !important;
    }

    .hover-parent {

        width: 590px !important;
        position: absolute;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px !important;
        height: 306px !important;
        top: 506px;
        background-color: white;
        opacity: 1;
        z-index: 1 !important;
        color: white;
        font-family: 'vazir';

    }

    .showlup {
        top: -21px !important;


    }

    .hidden {


        height: 100% !important;
        padding-top: 84px !important;


        top: 0px !important;
        ;

        transition: all .5s ease-in;
        right: 0px;
        opacity: 0;
    }


}

@media only screen and (max-width:788px) {

    .main-course-body {
        position: absolute;
        top: 464px !important;
        background-color: #000000;
        overflow-y: hidden;
    }





    .hover-left-child-price,
    .hover-left-child-sath,
    .hover-left-child-online {
        top: -147px !important;
        position: relative;
        font-size: 14px;
        line-height: 33px;
        margin-top: -1px;
    }

    .hover-left-child-price-adad {

        font-family: 'y' !important;
    }






    .parent-image-course {
        width: 100% !important;
        z-index: -1 !important;
        position: absolute;
        height: 100% !important;
        right: 0px;
        left: 0px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px !important;
    }

    .image-course {

        width: 95% !important;
        top: 7px !important;


        border-radius: 2px !important;
        height: 95% !important;


    }

    .h-course {


        line-height: 31px;
        font-size: 13px !important;
        top: 148px;



    }

    .p-course {
        top: 99px;



        right: 203px;
        font-size: 17px !important;
        margin-top: 0px !important;

    }


    .h-course-info {
        top: 60px !important;
        margin-top: 200px !important;
        font-size: 13px !important;
    }

    .info-button {
        top: 302px;
        transform: scale(.8);
    }


    .progress {

        height: 3rem;

        top: 100px;

        width: 95%;


    }

    .hover-parent {

        width: 64% !important;
        height: 300px !important;
        top: 520px;


    }

    .showlup {


        width: 100% !important;
        position: absolute;
        z-index: 1 !important;
        height: 100% !important;
        padding-top: 84px !important;
        font-size: 17px;
        background-color: transparent;
        top: 0px !important;
        align-items: center;
        display: flex !important;
        justify-content: center;
        color: #ffffff !important;
        font-family: 'dana';
        flex-direction: column;
        transition: all .5s ease-in;
        right: 0px;
        opacity: .98 !important;
    }

    .hidden {


        height: 100% !important;
        padding-top: 84px !important;


        top: 0px !important;
        ;

        transition: all .5s ease-in;
        right: 0px;
        opacity: 0;
    }

}

@media only screen and (max-width:556px) {
    .h-course {
        width: 90% !important;
        right: 0px !important;
        line-height: 25px;
        font-size: 10px !important;
        top: 228px;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px !important;

    }

    .h-course-info {
        top: 150px !important;
        margin-top: 150px !important;
        font-size: 12px !important;
        width: 70%;
    }

    .hover-parent {
        width: 64% !important;
        height: 300px !important;
        top: 726px;
    }

    .info-button {
        top: 380px;
        transform: scale(.8);
    }

    .p-course {
        top: 180px;

        width: 90% !important;
        right: 0px !important;
        font-size: 21px !important;




    }

}

@media only screen and (min-width: 1200px) {

    .main-course-container {
        margin-top: -33rem !important;

    }





    .parent-image-course {

        width: 100% !important;
        z-index: -1 !important;
        position: absolute;
        height: 120% !important;
    }


    .image-course {

        right: -4px;
        width: 101% !important;
        top: -5px !important;
        left: 0px !important;
        position: absolute;
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;

        height: 84% !important;


    }



    .hover-parent {
        width: 55% !important;
        position: relative;
        margin-right: auto !important;

        background-color: #9fb2e3 !important;
        left: 0px;
        height: 700px !important;
        border-radius: 5px;
        overflow: hidden;
        top: 70px;

        z-index: 0 !important;
        color: rgb(255, 255, 255);
        font-family: 'dana';
        padding-top: -18px;
        transform: scale(.8);
        right: 60px;
    }


    .h-course {

        margin-left: auto !important;
        right: 20px;



        left: 0px;
        position: absolute;
        width: 52% !important;
        background-color: transparent;
        display: flex;
        font-family: 'dana' !important;
        color: #000000 !important;
        font-size: 15px !important;
        line-height: 33px;
        font-weight: 400 !important;
        height: 560px;
        top: 139px;
        z-index: 0 !important;
        text-align: right;
        border: 2px solid #d5d5d5;

        border-radius: 5px;
        padding-top: 55px;
        padding-right: 30px;
        padding-left: 30px;
        direction: rtl;
    }



    .p-course {
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px;
        left: 0px;
        position: absolute;
        width: 89% !important;



        top: 44px;
        z-index: 3 !important;



        font-size: 40px !important;
        margin-top: 0px !important;
        color: #000000 !important;
        font-family: 'pinar' !important;
        font-weight: 400 !important;
        height: 70px;
        text-align: center;

        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

        border-bottom: none;
    }

    .hover-right {
        width: 30% !important;
        position: absolute;
        margin-right: auto !important;
        margin-left: auto !important;

        left: 200px;
        height: 100% !important;



        z-index: 1 !important;
        border-radius: 1px;
        opacity: .7 !important;

        top: 181px !important;
        font-size: 30px;




        padding-top: 0px;
        font-family: 'dana' !important;

        height: 0px !important;


    }

    .hover-left-child-price,
    .hover-left-child-sath,
    .hover-left-child-online {
        top: -102px !important;
        color: #ffffff !important;
        font-family: 'dana' !important;
        position: relative;
        font-size: 17px;
        font-weight: 400 !important;
        line-height: -7px !important;
        letter-spacing: 1px !important;
        word-spacing: 2px !important;
        height: 34px;

    }



    .hover-left-child-price-adad {
        line-height: 26px !important;
        color: #dfb02d !important;
        font-family: 'dana' !important;
        letter-spacing: 1px !important;
        word-spacing: 2px !important;
        font-size: 17px !important;
        font-weight: 400 !important;
    }



    .hidden {

      
        background-color: rgb(7 13 28) !important;
       
      
    
        top: 700px !important;
    








        width: 100% !important;
        position: absolute !important;
        z-index: 1 !important;
        border-radius: 1px;
      
        background-color: #050f8d!important;
        font-size: 19px;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #ecfffe  !important;
        font-family: 'dana';
        flex-direction: column;
        font-family: 'dana';
        padding-top: 136px;
        height: 33% !important;
        right: 0px;
        transition: all .5s ease-in;
    
        font-weight: 400;

    }



    .showlup {
        width: 100% !important;
        position: absolute !important;
        z-index: 1 !important;
        border-radius: 1px;
        opacity: 1;



        background-color: #050f8d!important;
        font-size: 19px;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #ecfffe  !important;
        font-family: 'dana';
        flex-direction: column;
        font-family: 'dana';
        padding-top:96px;
        height: 33% !important;
        right: 0px;
        transition: all .5s ease-in;
        top: 429px !important;
        font-weight: 400;
        opacity: .99;

    }


    .progress {

        display: flex;
        height: 50px;
        overflow: hidden;
      
        font-size: .703125rem;
        background-color: #ffffff;
        border-radius: 0.35rem;
        top: 122px;
        position: relative;
        width: 95%;
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px !important;
        left: 0px !important;
        margin-top: -79px;


    }

    .progress-bar {
        color: #000000;
        padding-top: 8px;
        font-family: 'y';
        font-size: 20px!important;
        background-color: #00b4ab!important;


    }

    .info-button {
        margin-right: auto;
        margin-left: auto;
        right: 0px;
        position: absolute;
        left: 0px;
        width: 107px;
        height: 48px;
        top: 393px;
        color: #ffffff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'dana';
        font-size: 15px;
        text-align: center;
        padding: 6px;
        border: none;
        font-weight: 400;
        background-color: #0638b4 !important;
    }

    .h-course-info {
        margin-right: auto;
        margin-left: auto;
        right: 0px;
        position: absolute;
        left: 0px;
        top: 120px;
        margin-top: 200px;
        color: #2e2e2e !important;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'dana';
        font-size: 16px !important;
        text-align: center;
        padding: 10px;
        border: none;
        font-weight: 400;
    }

    .info-button:active {
        transition: all .7s;
        transform: scale(.999);
    }

    .info-button:hover {
        background-color: #1320a7;
    }

    .main-course-body {
        border: 2px solid #d5d5d5;
        ;

        top: -20px !important;
        position: relative !important;
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px !important;
        left: 0px !important;
        z-index: 0;
        width: 90% !important;
        display: flex !important;
    }
}