@media only screen and (max-width: 1200px) {


    .main-navy:hover .arrow {
        transition: transform .1s ease !important;
        transform: rotate(90deg);
    }












    .taf {
        border-radius: none !important;
        border-radius: none !important;





        border-start-end-radius: 10px !important;
        border-start-start-radius: 10px !important;
    }


    .teen {
        border-radius: none !important;
        border-radius: none !important;

        border-end-end-radius: 10px !important;
        border-end-start-radius: 10px !important;
        border-bottom: #6b6b6b solid 1px;
    }

    .main-navy {
        margin-left: -61px;
        height: 48px;
        margin-right: 42px !important;
        padding-top: 19px !important;

        color: rgb(255, 255, 255) !important;
        font-size: 14px;
        margin-top: 3px;
        right: -116px;
        position: relative !important;
        margin-right: 35px;
        width: -moz-fit-content;
        width: fit-content;
        font-family: 'dana';
        font-weight: 400 !important;
        text-align: center !important;

    }

    .main-navy:hover {
        border-bottom: 3px solid rgb(9, 47, 219) !important;
        cursor: pointer;
        transition: all .1s ease !important;
        color: rgb(245, 154, 17) !important;

    }

    .secondy {
        height: 66px;
        margin-top: 8px;
        margin-bottom: -14px;
        width: 226px !important;
        box-shadow: none !important;
        left: 98px;
        border-radius: none !important;

        position: relative;
        background-color: rgb(245, 245, 245);
        color: #000000 !important;
        border-top: none !important;
        font-size: 14px;
        border-right: none !important;
        top: -29px;
        padding-right: 92px !important;
        z-index: 2 !important;
        font-family: 'dana' !important;
        padding-top: 20px;


    }


    .secondy:hover {
        cursor: pointer;
        top: -29px;

        transition: all .3s !important;


        color: #ffffff !important;
        position: relative;
        z-index: 1 !important;


        background-color: #0c2ec7;



        box-shadow: none !important;

        font-weight: 900 !important;


    }


    .parentnav {
        font-size: 17px !important;
        color: #000000 !important;
        border-bottom: #191b23 solid 1px !important;
        box-shadow: none !important;
        border: none !important;
        box-shadow: 3px 2px #000000;
        border-radius: 0px !important;
        background-color: transparent !important;


    }

    .parentnav:hover {
        font-size: 17px !important;
        margin-bottom: -18px !important;
        position: relative;
        border-bottom: none !important;
        top: -8px !important;
        transition: all .2s !important;
        border: none !important;


    }



    .nav a:hover {
        border: none !important;

    }


    .main-navy li {
        width: 91px !important;
        height: 39px !important;
        margin-right: 30px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px !important;

        cursor: pointer;
        transition: all 0.4s;
        padding: 10px;
        padding-top: -15px !important;
        text-align: center;
        margin-left: 20px;
        right: 65px;
        background-color: #ffffff;
        box-shadow: 3px 2px #000000;
        color: rgb(255, 255, 255) !important;
        top: -12px;
        margin-left: 44px;
    }



    .main-navy li:hover {
        width: 91px !important;
        border: none !important;
        font-size: 15px !important;
        color: rgb(255, 220, 220);
        transition: all 2s;
        border: none !important;


    }



    .main-navy:active {
        box-shadow: none !important;
        transform: translate(3px, 3px) !important;
    }

    .inside-nav {
        width: 100px !important;
        height: 50px !important;
        margin-left: 20px;
        display: none;
        position: absolute;
        font-size: 12px !important;
        right: -5px;
        top: 59px;
    }

    .main-navy li:hover>ul {
        display: block;
        width: 100px !important;
        top: 50px;
        height: 300px !important;
        padding-top: -60px;
        font-size: 12px !important;
        z-index: 999;
    }

}

@media only screen and (max-width: 992px) {


    .parentnav {
        color: #000000 !important;
        border-bottom: #191b23 solid 1px !important;
        box-shadow: none !important;
        border: none !important;
        box-shadow: 3px 2px #000000;
        border-radius: 0px !important;
        background-color: transparent !important;

        position: relative;
        top: 18px;
        margin-top: 3px;
        width: 113px;


    }

    .parentnav:hover {


        border-bottom: none !important;
        transition: all .2s !important;


    }


    .main-navy li {
        width: 82px !important;
        height: 31px !important;
        border-radius: 5px;
        text-align: center;
        font-size: 13px !important;
        font-weight: 900 !important;
        text-align: center;
        margin-left: 20px;
        right: -88px;
        background-color: #ffffff;
        box-shadow: 3px 2px #000000;
        color: rgb(255, 255, 255) !important;
        margin-left: 32px;
        top: -11px;
        padding-top: -9px;
        padding-bottom: 21px;
        padding-top: 5px;
        padding-left: 9px !important;


    }

    .arrow {
        top: -1px !important;
        position: relative;
        left: -11px !important;
    }


    .main-navy li:hover {

        width: 82px !important;
        height: 31px !important;

        border-radius: 5px;
        text-align: center;
        font-size: 13px !important;
        font-weight: 900 !important;
        text-align: center;
        margin-left: 20px;
        right: -88px;
        background-color: #ffffff;
        box-shadow: 3px 2px #000000;
        color: rgb(0, 0, 0);
        margin-left: 32px;
        top: -11px;
        padding-top: -9px;
        padding-bottom: 21px;
        padding-top: 5px;
        padding-left: 9px !important;
    }



    .main-navy:active {

        transform: translate(3px, 3px) !important;
    }

    .inside-nav {
        width: 100px !important;
        height: 50px !important;
        margin-left: 20px;
        display: none;
        position: absolute;
        font-size: 17px !important;
        right: 38px;
        top: 55px !important;
    }

    .main-navy li:hover>ul {
        display: block;
        width: 100px !important;
        top: 50px;
        height: 300px !important;
        padding-top: -60px;
        font-size: 12px !important;
        z-index: 999;
    }

    .main-navy {
        font-weight: 100;
        height: 54px;
        margin-right: 139px !important;
        color: rgb(255, 255, 255) !important;
        font-size: 13px;
        position: relative;
        right: 66px;
        padding-right: 17px;
        padding-bottom: top;
        top: -26px;
        padding-top: 50px !important;
        height: 75px !important;
        width: -moz-fit-content;
        width: fit-content;

    }

    .secondy {
        height: 60px;
        margin-top: 14px;
        margin-top: 14px;
        margin-bottom: -14px;
        width: 226px !important;
        box-shadow: none !important;
        left: 30px;
        border-radius: none !important;
        font-weight: 400 !important;
        position: relative;
        background-color: rgb(255, 255, 255);
        color: #000000 !important;
        left: 64px;
        font-size: 15px;
        top: -48px;
        padding-right: 45px !important;
        z-index: 1 !important;

    }


    .secondy:hover {
        cursor: pointer;


        transition: all .2s !important;


        background-color: #1155d3;
        color: #ffffff !important;


        height: 60px;
        margin-top: 14px;
        margin-top: 14px;
        margin-bottom: -14px;
        width: 226px !important;
        box-shadow: none !important;
        left: 30px;
        border-radius: none !important;

        position: relative;

        left: 64px;
        font-size: 17px;
        top: -48px;

        padding-right: 65px !important;
        z-index: 1 !important;



    }

}

@media only screen and (max-width: 768px) {




    .main-navy li {
        width: 91px !important;
        height: 50px !important;

        border-radius: 5px;
        text-align: center;
        font-size: 17px !important;
        font-weight: 900 !important;
        cursor: pointer;
        transition: all 0.4s;
        padding: 10px;
        padding-top: 15px !important;
        position: fixed;
        text-align: center;
        margin-left: 20px;
        right: 0px;
        background-color: #ffffff;

        box-shadow: 3px 2px #000000;
        color: rgb(255, 255, 255) !important;
    }

    .main-navy:active {
        box-shadow: none !important;
        transform: translate(3px, 3px) !important;
    }



    .main-navy li:hover {
        width: 91px !important;
        height: 50px !important;

        font-size: 15px !important;
        background-color: rgb(114, 115, 121);


        box-shadow: 3px 2px #000000;
        color: rgb(255, 220, 220)
    }



    .inside-nav {
        width: 100px !important;
        height: 50px !important;
        margin-left: 20px;
        display: none;
        position: absolute;
        font-size: 12px !important;
        right: 0px;
        top: 59px;
    }

    .main-navy li:hover>ul {
        display: block;
        width: 100px !important;
        height: 50px !important;
        font-size: 12px !important;
    }

    .main-navy:active {
        box-shadow: none !important;
        transform: translate(3px, 3px) !important;
    }

    .main-navy {
        font-weight: 100;
        margin-left: 20px;
        margin-right: 20px;
        color: rgb(255, 255, 255) !important;
        font-size: 17px;
    }

}

@media screen and (max-width: 576px) {

    .main-navy li {
        width: 91px !important;
        height: 50px !important;


        border-radius: 10px;
        text-align: center;
        font-size: 15px !important;
        font-weight: bolder;
        cursor: pointer;
        transition: all 0.4s;
        padding: 10px;
        padding-top: 12px !important;
        position: fixed;
        text-align: center;
        margin-left: 20px;
        right: 0px;
        background-color: #252525;
        border: #FAFAFA solid 2px;
        box-shadow: 3px 2px #000000;
        color: rgb(255, 255, 255)
    }



    .main-navy li:hover {
        width: 91px !important;
        height: 50px !important;
        font-size: 12px !important;

        font-size: 15px !important;
        background-color: rgb(114, 115, 121);

        border: #000000 solid 2px;
        box-shadow: 3px 2px #000000;
        color: rgb(255, 220, 220)
    }



    .main-navy:active {
        box-shadow: none !important;
        transform: translate(3px, 3px) !important;
    }

    .inside-nav {
        width: 100px !important;
        height: 50px !important;
        margin-left: 20px;
        display: none;
        position: absolute;
        font-size: 12px !important;
        right: 0px;
        top: 59px;
    }

    .main-navy li:hover>ul {
        transition: 3s;
        display: block;
        width: 100px !important;
        height: 50px !important;
        font-size: 12px !important;
    }

    .main-navy {
        font-weight: 100;
        margin-left: 20px;
        margin-right: 20px;
        color: rgb(255, 255, 255) !important;
        font-size: 17px;
    }

}



@media only screen and (min-width: 1200px) {


    .main-navy:hover {
        cursor: pointer;

    }

    .main-navy:hover .arrow {
        transition: transform .1s ease !important;
        transform: rotate(90deg);
    }



    .taf {
        font-weight: 400 !important;

        border-radius: none !important;
        border-start-end-radius: 10px !important;
        border-start-start-radius: 10px !important;


    }

    .teen {

        border-radius: none !important;

        border-end-end-radius: 10px !important;
        border-end-start-radius: 10px !important;

    }

    .secondy {
        height: 51px;
        margin-top: -2px;
        margin-bottom: -14px;
        color: black !important;
        width: 226px !important;


        z-index: 77777777777777 !important;
        left: 53px;

        position: relative;
        font-size: 15px;
        top: 260px;
        opacity: 0 !important;
        padding-right: 90px !important;
        z-index: 1 !important;
        background-color: #fcfdff !important;
        padding-top: 8px;
        font-family: 'dana' !important;
        border: solid rgb(230, 230, 230) 2px;
        border-top: solid rgb(230, 230, 230) 1px;
    }

    .main-navy li:hover .secondy {
        opacity: 1 !important;

    }

    .secondy:hover {
        font-weight: 400 !important;
        cursor: pointer;
        color: rgb(255, 255, 255) !important;
        transition: all 0.1s !important;

        font-size: 19px;



        background-color: #1b0ad1 !important;
        ;






















    }


    .parentnav {
        color: #000000 !important;
        border-bottom: #191b23 solid 1px !important;
        box-shadow: none !important;
        border: none !important;
        box-shadow: 3px 2px #000000;
        border-radius: 0px !important;
        background-color: transparent !important;


    }

    .parentnav:hover {
        color: #191a1b !important;

        border-bottom: none !important;
        transition: all .2s !important;


    }


    .main-navy:hover {
        cursor: pointer;
        transition: all .1s;
        color: #ccced1 !important;
        height: 45px;


    }




    .main-navy {




        border-bottom: 2px solid transparent !important;
        color: #ffffff !important;
        font-family: dana !important;
        font-size: 13px;
        font-weight: 400 !important;
        height: 40px;
        margin-left: 42px !important;
        margin-right: -261px !important;
        margin-top: -4px;
        padding-top: 16px !important;
        position: relative;
        right: -504px;
        text-align: center !important;
        width: -webkit-fit-content !important;
        width: -moz-fit-content !important;
        width: fit-content !important;
        z-index: 0 !important;

    }

    .main-navy li {

        width: fit-content !important;
        height: 40px !important;
        margin-right: 30px;
        border-radius: 5px;
        text-align: center;
        font-size: 13px !important;
        cursor: pointer;
        transition: all 0.4s;
        padding: 9px;
        padding-top: 4px !important;
        position: fixed;
        text-align: center;
        margin-left: 15px;
        right: 280px;
    
        padding-left: 10px;
        color: #ffffff !important;
        top: -49px;
        position: relative !important;
        left: -17px !important;
        border-bottom: none !important;
        z-index: -1 !important;
    }

    .main-navy li:hover {

        height: 40px !important;
        color: #9aafbb !important;
        border-bottom: none !important;
       
        transition: all 0.1s;
    }



    .main-navy:active {
        font-weight: 400 !important;
        transition: all 0.1s;


        transform: translate(2px, 2px) !important;

    }

    .inside-nav {
        height: 50px !important;
        margin-left: 20px;
        position: absolute;
        right: -25px;
        top: -217px;
        z-index: 0 !important;
        background-color: transparent !important;
    }


    .main-navy li:hover>.inside-nav {
        z-index: 0 !important;
        opacity: 1;
        transition: 1s all ease-out !important;
        display: block;
        width: 100px !important;

        height: 300px !important;
        padding-top: -60px;
        font-size: 12px !important;
        z-index: 999;

    }

}

.arrow {
    top: -1px;
    position: relative;
    left: -5px
}