.subtext {
  font-size: 15px !important;
  padding-top: -120px !important;
  height: 180px;
  top: -29px;
  position: relative;
  left: 20px;
}






@media only screen and (max-width: 1200px) {

  .css-1fx8m19 {
    color: #fcf5f1 !important;
  }


  .css-1wh7kkw {


    background-color: transparent !important;
  }



  .css-14ueyac {
    background-color: transparent !important;
  }

  .css-m7ku5p-MuiButtonBase-root-MuiAccordionSummary-root {

    background-color: transparent !important;

  }

  .css-a3krkh-MuiPaper-root-MuiAccordion-root {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.87);
    position: relative !important;
    top: 20px;

  }

  .css-a3krkh-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
    margin-bottom: 0;

  }

  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px !important;
    top: -29px;
    position: relative;
    left: 20px;
    direction: rtl;
  }





  .container {

    max-width: 100%;

    position: relative;
    top: 351px;
  }

  .acordian__item {
    border-radius: 15px !important;
    display: flex;
    overflow: hidden;
    width: 466px;
    position: relative;
    margin-left: auto;
    right: 0px;
    margin-bottom: 27px;
    z-index: 1;
    margin-right: auto;
    top: -67px;
    height: auto;
    min-height: 87px;
    font-size: 45px;
    border: 1px solid rgb(144 144 144);
    display: flex;
    align-items: center;
  }




  .css-1q13jnw-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: -1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5re;
    font-size: 26px;
    position: relative;
    margin-right: -80px;
  }


  .acordian {
    width: 900px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    height: 730px !important;
    margin-top: -3044px;
    right: 0px;
    left: 0px;
    position: relative;
    background-color: #1735e2;
    border-radius: 20px;

  }

  .question-images {
    width: 460px !important;
    height: 460px !important;
    top: -616px !important;
    right: 0px !important;
    left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 428px;

    position: absolute;
  }

  .acordian-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    margin-top: -38rem;
    padding-left: 0px;
    width: 759px;
    top: 534px;
    right: 0px !important;
    left: 0px !important;
    margin-left: auto !important;
    background-color: transparent;
    margin-right: auto;


  }

  .valed-paraent-border {

    top: -592px !important;
    position: relative !important;
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -236px;
  }

  .font {

    color: #ffffff !important;

    direction: rtl;
    height: 22px;
    font-family: 'dana';

    width: 493px;

    font-size: 17px !important;
    font-weight: 500;

    z-index: 1 !important;
    padding-right: 0px;
    left: 0px;
    position: relative;
  }





  .css-1q13jnw-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    font-size: 2rem;
    position: relative;
    right: -60px;
    transform: scale(.9);
    color: rgb(0, 0, 0) !important;
    font-weight: 400;
    padding-top: 4px !important;
    top: 5px;
  }

  .css-a3krkh-MuiPaper-root-MuiAccordion-root {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.87);
  }

}

@media only screen and (max-width:992px) {

  .question-images {


    top: -1126px !important;
  }

  .css-1wh7kkw {


    background-color: transparent !important;
  }



  .css-14ueyac {
    background-color: transparent !important;
  }





  .css-1q13jnw-MuiSvgIcon-root {




    position: relative;
    margin-right: -99px !important;
    height: 15px;

  }



  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px !important;
    top: -29px;
    position: relative;
    padding-right: 50px;
    left: 5px;
    direction: rtl;
  }






  .acordian-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: -164px;
    padding-left: 0px;
    direction: rtl;
    width: 99% !important;
    right: -71px;

  }

  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px;
    top: -29px;
    position: relative;
    left: 55px;
    direction: rtl;
    width: 390px;
  }





  .acordian__item {

    width: 538px;
    top: -491px;
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    left: 0px;

  }

  .acordian {
    width: 707px !important;
    height: 795px !important;
    padding-bottom: 100px;
    padding-top: 177px;
    top: 2567px;
  }

  .css-x1tti5 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2rem;
    right: -22px !important;
    position: relative !important;
    transform: scale(1.2) !important;
    fill: #101038 !important;
  }

  .valed-paraent-border {
    top: -1018px !important;
    position: relative !important;
    right: 0px;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 4;
  }

  .container {
    max-width: 100%;
    position: relative;
    top: 859px;
  }

}

@media only screen and (max-width:768px) {

  .question-images {
    top: -343px !important;
    transform: scale(.7);
    margin-right: auto;
  }

  .css-1wh7kkw {


    background-color: transparent !important;
  }



  .css-14ueyac {
    background-color: transparent !important;
  }



  .css-1ljbola-MuiButtonBase-root-MuiAccordionSummary-root {

    display: inline-flex;


    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;

    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;

    display: flex;
    min-height: 48px;
    padding: 0px 16px;
    -webkit-transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, .03);

    flex-direction: row;
    right: -26px;
  }




  .acordian-items {
    display: flex;
    width: 85% !important;
    margin-top: -55rem;
    padding-left: 0px;
    position: absolute;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0px !important;
    direction: rtl;
    right: 0px !important;
  }

  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px;
    top: -29px;
    position: relative;
    left: 58px;
    direction: rtl;
  }



  .acordian__item {
    margin-bottom: 18px;


    position: relative !important;
    top: 156px;
    align-items: center;

    display: flex;
    width: 90%;
  }


  .acordian {
    width: 88% !important;
    padding-top: 51px;
    top: 3397px;
    height: 754px !important;
    z-index: 44444444444;
    display: flex;
  }

  .css-1q13jnw-MuiSvgIcon-root {

    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    font-size: 2rem;
    right: 32px;
    position: relative;

  }

  .valed-paraent-border {
    top: -3834px !important;
    position: relative !important;
    right: 0px !important;
    left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    height: 93px !important;
    width: 100% !important;



  }
}

@media only screen and (max-width:576px) {
  .slider-details-videosub {
    right: 20px !important;
    top: -53px !important;
    font-size: 14px !important;
    line-height: 21px !important;
    width: 78% !important;
  }

  .slider-details-video {
    width: 100% !important;
    margin-top: 2088px;
    font-size: 26px !important;
  }

  .valed-paraent-border {
    top: -3271px !important;
    position: relative !important;
    right: 0px !important;
    left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    height: 2000px !important;

    width: 100% !important;

  }




  .css-1q13jnw-MuiSvgIcon-root {




    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;

    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    font-size: 2rem;
    right: -102px;
    position: relative;
  }






  .css-1wh7kkw {


    background-color: transparent !important;
  }



  .css-14ueyac {
    background-color: transparent !important;
  }




  .acordian {
    display: flex !important;
    top: 7402px;
    position: absolute !important;
    margin-top: 269px;
    z-index: 2 !important;
    height: 739px !important;
    margin-bottom: 62px;
    width: 87% !important;
  }

  .question-images {
    height: 75% !important;
    width: 90% !important;
    display: flex !important;
    top: -450px !important;
    transform: scale(.6) !important;
  }

  .css-1ljbola-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content {
    margin-left: -15px !important;
  }

  .acordian__item {


    margin-left: auto !important;
    right: -35px !important;
    top: -12px !important;
    z-index: 1 !important;
    width: 99% !important;
    position: relative !important;
    padding-right: 103px !important;
    font-size: 47px;
    margin-right: auto !important;
    border-radius: 10px !important;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 4px;


  }

  .subtext {
    font-size: 13px !important;
    padding-top: -120px !important;
    top: -29px;
    position: relative;
    left: 20px;
    width: 355px !important;
    right: -54px;
    direction: rtl;

  }

  .font {


    direction: rtl !important;
    font-size: 13px !important;
    left: 45px;
    width: 100%;
    z-index: 1 !important;
    height: 100%;
    padding-top: 13px;
    display: flex;
    justify-content: center;
  }

  .acordian-items {
    direction: rtl;
    flex-wrap: wrap;
    left: 0px !important;
    margin-top: -41rem;
    padding-left: -90px;
    width: 100% !important;
    border-radius: 3px;
    padding-right: 72px;
    height: 535px;
    padding-top: -1px;
    z-index: 1 !important;
    margin-bottom: 45px;
    position: absolute !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: flex !important;

  }

  .css-1n11r91 {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 3px 0px;
  }

  .css-dn63hr .MuiAccordionSummary-content {

    margin-top: -7px;
  }
}

@media screen and (max-width: 338px) {
  .acordian-items {
    direction: rtl;
    flex-wrap: wrap;
    left: 0px;
    margin-top: -39rem;
    padding-left: -90px;
    width: 333px;
    background-color: #111c82;
    border-radius: 3px;
    padding-right: 72px;
    height: 535px;
    padding-top: -1px;
    z-index: 1 !important;
    right: -98px;
    margin-bottom: 24px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;


  }

  .css-1q13jnw-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: #73737a;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 22px !important;
    right: -312px;
    position: absolute;
    top: -11px;
    transform: scale(.5);
  }



  .logoimage {
    color: #fff !important;
    border-radius: 150px;
    width: 50px;
    height: 50px;
    top: -3px;

    left: 28px !important;
    border: 1px rgb(255, 255, 255) solid;
    opacity: 1;
    position: absolute;
    right: 21px;
    transform: scale(0.5);
  }

  .font {
    color: #0a0644 !important;
    direction: rtl !important;
    font-size: 9px !important;
    font-weight: 500;
    height: 15px;
    left: 45px;
    padding-right: 40px;
    padding-top: 9px;
    text-align: right;
    width: 500px;
    word-spacing: 0.5px;
    z-index: 1 !important;
  }






  .acordian {
    display: flex;
    padding: 8rem -2px;
    font-family: 'yekan';
    top: 2844px;
    background-color: #1735e2;
    height: 585px !important;

    margin-right: auto;
    width: 152%;
    position: relative;
    margin-left: auto;
    z-index: 1;
    display: block;

    position: absolute !important;
    right: -25px;

  }

  .acordian__item {
    overflow-x: hidden !important;
    width: 102% !important;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: -moz-fit-content;
    height: 6837px;
    padding-top: 66px;

  }
}

@media only screen and (min-width:1200px) {




  .question-images {
    transform: scale(.6);
    width: 800px;
    height: 800px !important;
    position: absolute;
    right: 499px !important;
    left: -428px !important;
    top: 3px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    border-bottom: none;
    border: -1px solid black;
    border-radius: 428px;

  }


  .css-1q13jnw-MuiSvgIcon-root {


    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    font-size: 2rem;
    position: relative;
    right: -3px;
    transform: scale(1);
    color: rgb(255 255 255) !important;
    font-weight: 400;
    padding-top: -1px !important;
    margin-right: auto;


  }

  .container {
    max-width: 100%;



  }

  .acordian__item:hover {
    background-color: #ffffff!important;
  }




  .acordian__item {
    background-color: transparent;
    display: flex;
    left: 0 !important;
    margin-left: auto !important;
    min-height: 100px;

    position: relative;
    right: 50px !important;
    top: -195px;
    width: 600px;
    z-index: 2 !important;

    height: auto;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(.9);
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;



  }

  .acordian__item:hover .css-1q13jnw-MuiSvgIcon-root {

    color: rgb(0, 0, 0) !important;
  }

  .css-a3krkh-MuiPaper-root-MuiAccordion-root {
    position: relative !important;
    top: -10px !important;
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.87);

  }

  .css-a3krkh-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
    height: 300px;
    width: inherit;
    background-color: transparent !important;
  }


  .css-14ueyac {


    background-color: transparent !important;
    flex-direction: row;
  }


  .css-1wh7kkw {
    background-color: transparent !important;
  }








  .css-m7ku5p-MuiButtonBase-root-MuiAccordionSummary-root {





    display: inline-flex;


    position: relative;
    box-sizing: border-box;

    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;


    color: inherit;

    display: flex;
    min-height: 48px;
    padding: 0px 16px;

    background-color: rgb(255 255 255 / 0%) !important;

  }




  .acordian__item :hover .font {
    padding-right: 36px;


    transition: all .2s;
    color: #000000 !important;
  }

  .acordian {
    text-align: center;
    display: flex;
    padding: 10rem 4px;
    top: 1640px;
    position: relative;
    margin-top: -1171px;
    margin-bottom: 14px;
    height: 820px;
    padding-top: 656px;
    background-color: #1731d1;
    right: 0px;
    z-index: 1155555555522 !important;
    border-radius:30px;
    padding-right: 320px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    width: 1180px;


  }



  .acordian-items {
    padding-top: 278px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute !important;
    top: -10px;
    padding-left: 0px;
    right: -358px !important;
    left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 900px;
    border-radius: 504px;

    height: 900px;



  }



  .font {
    color: #ffffff !important;
    text-align: right;
    direction: rtl;
    display: flex;
    font-family: 'dana';
    align-items: center;
    width: 656px !important;

    font-size: 18px !important;
    font-weight: 500 !important;
    word-spacing: 0.5px;
    z-index: 1 !important;
    margin-left: -119px;
    padding-top: 16px;
    background-color: transparent !important;
    overflow: hidden;


  }

  .css-1fx8m19 {
    color: #fcf5f1 !important;
  }

  .subtext {
    color: #fcf5f1 !important;
    text-align: right;
    direction: rtl;
    height: 220px !important;

    font-family: 'dana';

    width: 540px !important;
    padding: 4px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    word-spacing: 0.5px;
    z-index: 1 !important;
    right: 0px;
    top: -30px;
    border-radius: 10px;

  }




}