@font-face {
  font-family: '';
  src: url(/public/fonts/YekanBakhFaNum-Regular.woff2) format('woff2'),
    url(/public/fonts/YekanBakhFaNum-Regular.woff) format('woff'),
    url(/public/fonts/YekanBakhFaNum-Regular.ttf) format('truetype'),
    url(/public/fonts/LuckiestGuy.otf) format('otf');

}

.subtext {
  font-size: 15px !important;
  padding-top: -120px !important;
  height: 180px;
  top: -29px;
  position: relative;
  left: 20px;
}


.question {
  font-size: 36px;
  z-index: 0 !important;
  padding-right: -50px;

  width: 260px;
  stroke: #000 20px solid;
  top: 0px;
  position: fixed !important;
  right: 10px;
  font-weight: 999 !important;
}


.otherquestion {
  font-size: 17px;
  color: rgb(255, 244, 244) !important;
  top: 0px !important;

  font-family: 'y';
  padding-top: -10px;
  padding-right: 130px;
  z-index: 0 !important;
  width: 700px;

  font-weight: 999;
  position: relative !important;
  right: -130px;
  min-width: 260px;
}


@media only screen and (max-width: 1200px) {




  .css-1wh7kkw{


    background-color: transparent!important;
  }



  .css-14ueyac{
    background-color: transparent!important;
  }

  .css-m7ku5p-MuiButtonBase-root-MuiAccordionSummary-root {
  
background-color: transparent !important;

}

 .css-a3krkh-MuiPaper-root-MuiAccordion-root {
  background-color: transparent !important;
    color: rgba(0, 0, 0, 0.87);
    position: relative!important;
    top: 20px;
  
}

  .css-a3krkh-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
    margin-bottom: 0;
   
}

 .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px !important;
    top: -29px;
    position: relative;
    left: 20px;
    direction: rtl;
  }

 .question {
    font-size: 36px;
    z-index: 0 !important;
    padding-right: -50px;

    width: 260px;
    stroke: #000 20px solid;
    top: 0px;
    position: fixed !important;
    right: 10px;
    font-weight: 999 !important;
  }


  .otherquestion {
    font-size: 17px!important;

    top: -390px !important;
    font-family: 'y' !important;
    padding-top: 21px !important;
    padding-right: 29px !important;
    width: 944px !important;
    position: relative !important;
    right: -212px !important;
    background: #111c82 !important;
    height: 87px !important;
    border-radius: 0px !important;
    font-weight: 400 !important;
    display: block !important;
    /* min-width: 169px !important; */
    margin-left: 116px!important;
    color: rgb(255, 255, 255)!important;
    font-size: 33px!important;
    text-align: center;
    z-index: 1!important;

   

 




}
  .container {
  
      max-width: 100%;
      font-family: 'yekan';
      position: relative;
      top: 351px;
  } 
  .acordian__item {
    border-radius: 12px !important;
    display: flex;
    overflow: hidden;
    width: 560px;
    position: relative;
    margin-left: auto;
    right: -29px;
    font-family: 'yekan';
    
    margin-bottom: 32px;
    /* background-color: #111c82; */
    z-index: 1;
    margin-right: auto;
    top: -239px;
    height: auto;
    min-height: 87px;
    padding-top: 9px;
    font-size: 45px;
}




  .css-1q13jnw-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: -1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5re;
    font-size: 26px;
    position: relative;
    margin-right: -80px;
}
  

  .acordian {
    width: 766px!important;
    margin-right: auto !important;
    margin-left: auto !important;
    right: -68px !important;
    left: 0px !important;
    padding: 21px 12px 12px 12px;
    height: 159px !important;
    /* top: -211px; */
    margin-top: -3510px;


}
  .acordian-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: -30rem;
    padding-left: 0px;
    font-family: 'yekan';
    right: -103px;
    width:100%;
    top: 603px;
    right: 0px !important;
    left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;

}

.valed-paraent-border {
  top: 1195px!important;
  position: relative!important;
  right: -59px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}
  .font {
    color: #000000!important;
    text-align: right;
    direction: rtl;
    height: 22px;
    font-family: 'dana';
    padding-top: 10px;
    width: 493px;
    padding-right: 41px;
    font-size:18px!important;
    font-weight: 500;
    word-spacing: 0.5px;
    z-index: 1 !important;
    padding-right: 67px;
    left: 48px;
    position: relative;
}


  .question {

    z-index: 0 !important;


  }


.css-1q13jnw-MuiSvgIcon-root {
  -webkit-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  font-size: 2rem;
  position: relative;
  right: -9px;
  transform: scale(.9);
  color: rgb(0, 0, 0) !important;
  font-weight: 400;
  padding-top: 2px !important;
}
  .css-a3krkh-MuiPaper-root-MuiAccordion-root {
    background-color:  transparent!important;
    color: rgba(255, 255, 255, 0.87);
  }

}

@media only screen and (max-width:992px) {



  .css-1wh7kkw{


    background-color: transparent!important;
  }



  .css-14ueyac{
    background-color: transparent!important;
  }





  .css-1q13jnw-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: -1em;
    height: 1em!important;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5re;
    font-size: 26px;
    position: relative;
    margin-right: -188px!important;
    height: 15px;
}



  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px !important;
    top: -29px;
    position: relative;
    padding-right: 50px;
    left: 5px;
    direction: rtl;
  }



  .otherquestion {
    font-size: 16px!important;
    color: rgb(37 34 118) !important;
    top: -343px!important;
    padding-top: 5px;
    padding-right: 16px;
    z-index: 1 !important;
    /* width: 7px; */
    font-weight: 400;
    position: relative !important;
    right: 0px!important;
    display: inline-block;
    min-width: 178px;
    border: 1px solid #a5a3a3;
    margin-left: auto!important;
    margin-right: auto!important;
    height: 35px;

}



  .acordian-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: -315px;
    padding-left: 0px;
    font-family: 'yekan';
    direction: rtl;
    width: 99%!important;
    right: -71px;
}
  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px;
    top: -29px;
    position: relative;
    left: 55px;
    direction: rtl;
    width: 390px;
}

 
   
 

.acordian__item {
  display: flex;
  overflow: hidden;
  width:565px;
  position: relative;
  right: 75px;
  font-family: 'yekan';
  padding-bottom: 1px;
  margin-right: -4px;
  padding-right: -7px;
  transform: scaleX(1);
  margin-bottom: 14px;
  top: -483px;
}
.acordian {

    height: 883px!important;
    padding-bottom: 100px;
    padding-top: 55px;
    width: 99%!important;
    margin-right: auto!important;
    margin-left: auto!important;
    top: -4207px;
    z-index: 5;
    margin-top: -241px;
    padding-left: 0px!important;
    padding-right: 0px;
    left: 0px!important;
    right: 0px!important;
    margin-top: 9px;
    border-end-start-radius: 61px!important;
    border-bottom-right-radius: 279px!important;
    display: block;
    position: relative;


}
  .css-x1tti5 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2rem;
    right: -22px!important;
    position: relative!important;
    transform: scale(1.2)!important;
    fill: #101038!important;
}
.valed-paraent-border {
  top: -158px!important;
  position: relative!important;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  z-index: 4;
}
}

@media only screen and (max-width:768px) {



  .css-1wh7kkw{


    background-color: transparent!important;
  }



  .css-14ueyac{
    background-color: transparent!important;
  }


 
 .css-1ljbola-MuiButtonBase-root-MuiAccordionSummary-root {
 
    display: inline-flex;


    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;

    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
 
    display: flex;
    min-height: 48px;
    padding: 0px 16px;
    -webkit-transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgba(0, 0, 0, .03);
 
    flex-direction: row;
    right: -26px;
}
  .otherquestion {
    font-size: 14px!important;
    color: #1e2023 !important;
    top: -355px !important;
    padding-top: -10px;
    padding-right: 18px;
    z-index: 0 !important;
    width: 222px;
    position: relative !important;
    min-width: 147px;
    right: 126px!important;
    display: inline-block;
    height: 33px;
    z-index: 1 !important;

}



  .acordian-items {

    display: flex;
    width: 100%!important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* position: relative; */
    margin-top: -65rem;
    padding-left: 0px;
    font-family: 'yekan';
    position: relative;

    margin-left: auto!important;


    margin-right: auto!important;

    left:0px!important;
    direction: rtl;
    right:0px!important;


}

  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px;
    top: -29px;
    position: relative;
    left: 58px;
    direction: rtl;
  }



  .acordian__item {
    margin-bottom: 14px;
    border-radius: 0.3rem;
    display: flex;
    overflow: hidden;
    width: 391px!important;
    position: relative!important;
    margin-right: auto!important;
    margin-left: auto!important;
    right: -44px!important;
    left: 0px!important;
    font-family: 'yekan';
    padding-bottom: 16px;
    padding-right: -20px;
    top: 188px;
    padding-left: 47px;
    height: 83px;
    padding-top: 0px;


}


.acordian {
  margin-bottom: 15px;
  border-radius: 15px!important;
  display: flex;
  overflow: hidden;
  width: 93%!important;
  position: relative!important;
  margin-right: auto!important;
  margin-left: auto!important;
  right: 0px!important;
  left: 0px!important;
  font-family: 'yekan';
  padding-bottom: -38px;
  padding-right: -4px;
  top: -4348px;
  border-radius: 0px!important;
  height: 1009px!important;
}
.css-1q13jnw-MuiSvgIcon-root {

    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    font-size: 2rem;
    right: 32px;
    position: relative;

}

.valed-paraent-border {
  top: -903px!important;
  position: relative!important;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 593px;
  padding-top: -30px;
   height: 1223px;
}
}
@media only screen and (max-width:576px) {.css-1q13jnw-MuiSvgIcon-root {
 
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;

  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  font-size: 2rem;
  right: -102px;
  position: relative;
}






.css-1wh7kkw{


  background-color: transparent!important;
}



.css-14ueyac{
  background-color: transparent!important;
}




  .acordian {
    display: flex;
    padding: 8rem -2px;
    font-family: 'yekan';
    top: 4076px;
    margin-bottom: 972px;
    margin-right: auto;
    width: 122%;
    margin-left: auto;
    position: absolute!important;
    z-index: 0 !important;
    display: block!important;
    margin-top: 195px;
    height: 836px!important;
    border-radius: 0px!important;
    right: -89px!important;

    z-index: 2!important;
}
.otherquestion {
  font-size: 13px!important;
  /* color: rgb(255 255 255) !important; */
  top: 297px !important;
  padding-top: -11px;
  padding-right: 18px;
  z-index: 0 !important;
  width: 120px;
  position: relative !important;
  min-width: 119px;
  right: 147px!important;
  display: inline-block;
  margin-right: auto!important;
  margin-left: auto!important;
  /* background-color: blue; */
  height: 34px;
  color: rgb(142 163 70) !important;

}

  .css-1ljbola-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content {
    margin-left: -15px !important;
  }

  .acordian__item {
    border: solid blue 1px !important;
    margin-bottom: 13px;
    margin-left: auto;
    overflow: hidden;
    right: -35px;
    top: 123px!important;
    z-index: 1 !important;
    width: 319px !important;
    padding-bottom: -7px;
    /* height: 60px; */
    padding-top: -19px!important;
    padding-right: 44px!important;
    font-size: 47px;
    margin-right: auto;
    position: relative;
    background-color: #111c82;
    border-radius: 15px!important;

}
  .subtext {
    font-size: 13px !important;
    padding-top: -120px !important;
    top: -29px;
    position: relative;
    left: 20px;
    width: 355px!important;
    right: -54px;
    direction: rtl;
}
  .font {
 

    direction: rtl !important;
    font-size:12px !important;
    font-weight:400!important;
    height: 15px;
    left: 45px;
    padding-right: 10px;
    padding-top: 9px;
    text-align: right;
    width: 500px;
    word-spacing: 0.5px;
    z-index: 1 !important;
    font-weight: 700;
}
  .acordian-items {
    
      direction: rtl;
      flex-wrap: wrap;
      left: 0px;
      margin-top: 29rem;
      padding-left: -90px;
      width:457px;

      border-radius: 3px;
      padding-right: 72px;
      height: 535px;
      padding-top: -1px;
      z-index: 1 !important;
      right: 0px;
      margin-bottom: 35px;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
  

}
  .css-1n11r91 {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 3px 0px;
  }

  .css-dn63hr .MuiAccordionSummary-content {

    margin-top: -7px;
  }
}

@media screen and (max-width: 338px){  .acordian-items {
  direction: rtl;
  flex-wrap: wrap;
  left: 0px;
  margin-top: -39rem;
  padding-left: -90px;
  width: 333px;
   background-color:  #111c82
;
  border-radius: 3px;
  padding-right: 72px;
  height: 535px;
  padding-top: -1px;
  z-index: 1 !important;
  right: -98px;
  margin-bottom: 24px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;


}
  .css-1q13jnw-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: #73737a;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 22px !important;
    right: -312px;
    position: absolute;
    top: -11px;
    transform: scale(.5);
}

  .otherquestion {
    font-size: 11px!important;
    color: rgb(142 163 70) !important;
    top: -434px !important;
    padding-top: 8px !important;
    padding-right: 31px !important;
    /* padding-left: 20px!important; */
    z-index: 1 !important;
    width: 70px!important;
    font-weight: 999;
    position: relative !important;
    /* position: absolute!important; */
    display: flex;
    flex-wrap: wrap;
    margin-right: auto!important;
    margin-left: auto!important;
    right: -50px!important;
}
.logoimage {
  color: #fff !important;
  border-radius: 150px;
  width: 50px;
  height: 50px;
  top: -3px;
  /* position: relative; */
  left: 28px!important;
  border: 1px rgb(255, 255, 255) solid;
  opacity: 1;
  position: absolute;
  right: 21px;
  transform: scale(0.5);
}

.font {
  color: #0a0644!important;
  direction: rtl !important;
  font-size: 9px !important;
  font-weight: 500;
  height: 15px;
  left: 45px;
  padding-right: 40px;
  padding-top: 9px;
  text-align: right;
  width: 500px;
  word-spacing: 0.5px;
  z-index: 1 !important;
}






.acordian {
  display: flex;
  padding: 8rem -2px;
  font-family: 'yekan';
  top: 2844px;
  background-color: transparent;
  height: 585px !important;
  /* margin-bottom: -409px; */
  margin-right: auto;
  width: 152%;
  position: relative;
  margin-left: auto;
  z-index: 1;
  display: block;
  /* margin-top: -723px; */
  position: absolute!important;
  right: -25px;

}
.acordian__item {
  overflow-x: hidden !important;
  width: 102% !important;
  padding-right: 0rem;
  padding-left: 0rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  height: -moz-fit-content;
  height: 6837px;
  padding-top: 66px;

}
}

@media only screen and (min-width:1200px) {


  .subtext {
    font-size: 15px !important;
    padding-top: -120px !important;
    height: 180px !important;
    top: -29px;
    position: relative;
    padding-right: 50px;
    left:0px;
    width: 690px!important;   direction: rtl;
   
  }



 
 
  .css-1q13jnw-MuiSvgIcon-root {
   
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    font-size: 2rem;
    position: relative;
    right: 0px;
    transform: scale(1.2);
    color: rgb(0, 0, 0) !important;
    font-weight: 400;
    padding-top: -1px !important;
    /* top: 11px; */
    /* margin-top: -14px; */
    margin-right: auto;

}

  .container {
    max-width: 100%;
    font-family: 'yekan';


  }

  .acordian__item 
  {
    color: rgb(0, 0, 0) !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: 0px;
    display: flex;
    left: 0px !important;
    width: 728px;
    position: relative;
    margin-left: auto !important;
    z-index: 1;
    font-family: 'yekan';
    background-color: #ecf0f0;
    border-radius: 0px !important;
    top: 182px;
    right: -60px !important;
    min-height: 100px;
    padding-top: 10px;
    z-index: 2!important;



}
  .acordian__item:hover .css-1q13jnw-MuiSvgIcon-root {

color: rgb(0, 0, 0)!important;
  }
  .css-a3krkh-MuiPaper-root-MuiAccordion-root {
    position: relative!important;
    top: -10px!important;
    background-color:  transparent!important;
    color: rgba(0, 0, 0, 0.87);
  
}
  .css-a3krkh-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
   height: 300px;
   width: inherit;
    background-color: transparent!important;
}


.css-14ueyac {

  transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color:transparent!important;
  flex-direction: row;
}


.css-1wh7kkw
 {
  background-color:transparent!important;
 }








.css-m7ku5p-MuiButtonBase-root-MuiAccordionSummary-root {





  display: inline-flex;


  position: relative;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;

  vertical-align: middle;

  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;

  display: flex;
  min-height: 48px;
  padding: 0px 16px;
  -webkit-transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 background-color: rgb(255 255 255 / 0%) !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}





  .acordian__item :hover .font{
    padding-right: 36px;


transition: all .2s;
color: rgb(0, 0, 0)!important;
  }

  .acordian {


    text-align: center;
    display: flex;
    padding: 10rem 4px;
    font-family: 'yekan';
    top: 848px;
    position: relative;
    margin-top: -1650px;
    margin-bottom: 1px;
    height: 912px;
    padding-top: 478px;
    background-color: #ffffff;
    right: 0px;
    width: 100%;
    z-index: 1122!important;
    border-radius: 0px;
    padding-right: 320px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
   

 

     
  
      
  }

.acordian::before {opacity: .5;
 
  
  
  ; content: '';


  

}

  .acordian-items {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute!important;
    margin-top: -64rem;
    padding-left: 0px;
    font-family: 'yekan';
    right: -200px!important;
    left: 0px!important;
    margin-right: auto!important;
    margin-left: auto!important;
    width: 1000px;

    

}




  .font {
    color: rgb(115, 93, 119)!important;
    text-align: right;
    direction: rtl;
    height: 33px;
    font-family: 'dana';
    padding-top: 19px;
    width: 480px;
    padding-right: 26px;
    font-size: 21px!important;
    font-weight: 500 !important;
    word-spacing: 0.5px;
    z-index: 1 !important;
  
}

  .question {

    z-index: 0 !important;


  }



  
    .otherquestion {
      z-index: 1 !important;
      font-size: 29px !important;
      position: absolute!important;
      left: 0px!important;
      width: 102%!important;
      right: 12px!important;
      margin-right: auto!important;
      margin-left: auto!important;
      background: #ffffff;
      height: 119px!important;
      border-radius: 0px;
      font-weight: 400;
      display: block!important;
      /* text-align: center!important; */
      color: #221e1e !important;
      padding-top: 38px!important;
      margin-top: -34px;
      padding-right: 88px;
  
  
  
    }


}