.form-container:hover {
  transition: 1s;



}

::-webkit-input-placeholder {
  color: #06011f;
  font-size: 18px;
  padding-right: -15px;
  font-family: 'dana' !important;
  opacity: .5 !important;
}




.form-field {
  margin: -2px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border-bottom: #121214 1px solid;
  
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  font-family: 'y';
  background-color: transparent!important;
  padding-right: 0px;
  width: 212px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.form-enter {
  top: 5px;
  position: relative;
  font-size: 20px;
  width: 306px;
  height: 38px !important;

  text-align: center;
  padding-top: 3px;

  font-weight: 200;
  background-color: #294dc4 !important;
  color: #ffffff !important;

  border-radius: 1px;
  border: none !important;
  font-family: 'dana' !important;

}



span {
  font-family: 'dana';
  font-size: 25px;
  color: rgb(255, 244, 246);
  margin-bottom: 15px;
}

input {


  background: #f2f2f2;
}



button {

  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}



@media screen and (max-width: 1200px) {.table td, .table th {
  padding: 1.75rem;

  border-top: 1px solid #dee2e6;
  height: 69px;
  font-weight: 400!important;

}
  .havi {
   
      top:-53px;
      position: relative;
      height: 1200px;
      margin-right: auto;
      margin-left: auto;
      width: 900px;
  
  

  }

  .register-form:hover .form-enter {
    color: #06011f;


  }


  .moshakhasat {
    color: #000000 !important;
    top: 127px;
    font-size: 27px !important;
    font-family: 'dana' !important;
    right: -22px;
    position: relative;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    width: -moz-fit-content;
    width: fit-content;
}

  .form-enter {
    border: 2px solid rgb(9 10 20) !important;
    order: 2px solid rgb(17, 32, 240) !important;
    background-color: rgb(247, 248, 253)!important;
    color: rgb(1 1 1)!important;
    font-size: 20px;
    font-weight: 200!important;
    border-radius: 0px;
    height: 41px !important;
    padding-top: 5px!important;
    position: relative;
    text-align: center;
    top: 5px;
    min-width: 203px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'dana'!important;
    right: -5px;
    border-radius: 8px!important;
}
.form-enter:hover{

  font-size: 20px;
  font-weight: 200!important;

  border-radius: 8px!important;
  transition:all .6s ease !important;color: rgb(255, 255, 255)!important;
    background-color: rgb(17, 32, 240) !important;

}
  .register-form {
    display: flex;
    height: 449px;
    width: 364px;
    flex-direction: column;
    border-radius: 27px;
    justify-content: space-evenly;
    right: 0px;
    padding: 10px;
    background-color: #ffffff;
    top: 278px;
    font-size: 17px !important;
    font-family: 'dana' !important;
    position: relative;
    z-index: 1;
    border: 2px solid rgb(27 26 52);
    padding-right: 20px !important;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    transform: scale(1.2);
    overflow: hidden;

  }



  .form-container {
    margin: auto;
    position: relative;
    padding-left: 20px;
    width: 100%!important;
    border-radius: 7px;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    top: -35px;
    z-index: 0;
    
    margin-right: auto!important;
    margin-left: auto!important;
    background-color: white;
  }


  ::-webkit-input-placeholder {
    color: #070707 !important;

  }

}

@media screen and (max-width: 956px) {.form-enter {
  border: 1px solid rgb(5 6 23) !important;
  background-color: rgb(247, 248, 253)!important;
  color: rgb(1 1 4) !important;
  font-size: 20px;
  font-weight: 200;

  height: 41px !important;
  padding-top: 5px!important;
  position: relative;
  text-align: center;
  top: 5px;
  min-width: 197px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: 'dana' !important;
  right: 0px;
}
  .havi {
    top: -27px;
    position: relative;
    height: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

  .moshakhasat {
    color: #000000 !important;
    top: 183px;
    font-size: 20px !important;
    font-family: 'dana' !important;
 
    position: relative;
    z-index: 1;
    margin-right: auto!important;
    margin-left: auto!important;

  }

  .form-field {

    margin: -2px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border-bottom: #7c7274 1px solid;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'y';
    padding-right: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;


  }


}

@media screen and (max-width: 756px) {








  .havi {
    top: 211px;
    position: relative !important;
    height: 1195px;
    margin-right: auto !important;
  
    height: 1199px;
 
    width: 90% !important;
}
  .moshakhasat {
    color: #000000 !important;
    top: 50px;
    font-size: 20px !important;
    font-family: 'dana' !important;
  
    position: relative;
    z-index: 0;
  }


  .form-field {
 
      border-radius: 0px;
      height: 42px !important;
      font-size: 21px;
      font-weight: 200;
      padding-top: 5px!important;
      position: relative;
      text-align: center;
      top: 5px;
      width: 79% !important;
      font-family: 'dana' !important;
      margin-right: auto;
      margin-left: auto;
      right: -6px;
  
  }

  .form-enter {

        height: 42px !important;
        font-size: 21px;
        font-weight: 200;
        padding-top: 5px!important;
        position: relative;
        text-align: center;
        top: 5px;
        width: 75% !important;
        font-family: 'dana' !important;
        border-radius: 9px;
    }

  .register-form {
    display: flex;
    height: 452px;
    width: 428px;
    flex-direction: column;
    border-radius: 48px;
    justify-content: space-evenly;
    right: 829px;
    padding: 10px;
    background-color: #ffffff;
    top: 268px;
    font-size: 17px !important;
    font-family: 'dana' !important;
    position: relative;
    z-index: 1;
}

  .form-container {
    height: 350px;
    padding-left: 20px;
    width: 100% !important;
    border-radius: 7px;
    font-size: 40px;
    font-weight: 900;
    left: 812px;
    position: relative !important;
    top: -312px;
    z-index: 0;
    margin-top: 136px;
    margin-right: auto !important;
    margin-left: auto !important;

  }

 

}

@media screen and (max-width: 576px) {

  .form-field {
    margin: -2px 0 10px 0;
    padding: 15px;
    font-size: 17px !important;
        border-bottom: #7c7274 1px solid;
    color: #000000;
 
    font-weight: 600;
    font-family: 'y';
    padding-right: 0px;
    width: 80%;
    height: 40px;
  }


  .form-enter {
 

    font-size: 20px;
    font-weight: 400 !important;
    padding-top: 6px !important;
   
    text-align: center;
    top: 5px;
    min-width: 80%;
    display: block;
    padding-bottom: 29px;
    padding-top: 4px !important;
    font-family: 'dana' !important;
    height: 40px !important;

  }

  .havi {
    top: 105px !important;
    position: relative !important;
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    right: 0px;
}
  .moshakhasat {
    font-size: 14px !important;
    font-family: 'dana' !important;
    right: 38px;
    position: absolute;
    top: -188px;
 
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 20px;
  }




  .register-form {
    border: 3px solid rgb(18, 9, 148) !important;
    display: flex;
    width: 81%;
    flex-direction: column;
    border-radius: 15px;

    right: 0px;
    padding: 7px;
    top: 0px;
    font-size: 17px !important;
    font-family: 'dana' !important;
    position: absolute;
    height: 400px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    padding-top: -13px;


  }



  .form-container {
    height: 355px;
    margin: auto;
    position: relative;
    padding-left: 20px;
    width: 90% !important;
    border-radius: 7px;
    font-size: 40px;
    font-weight: 900;
    left: 5px;
    position: relative;
    top: -141px;
    z-index: 0;

    margin-top: 189px;
  }


  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
   
    position: absolute;
    display: flex;

    margin-right: auto;
    margin-left: auto;
    right: 0px;
    width: 64%;
    flex-wrap: wrap;

  }
}

@media screen and (max-width:338px) {
  .moshakhasat {
    font-size: 12px !important;
    font-family: 'dana' !important;
    right: 2px;
    position: absolute;
    top: -184px;
    width: 94% !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 20px;
  }

  .form-enter {
    color: #fff !important;
    font-size: 25px !important;
    font-weight: 200 !important;

    padding-top: 3px;
    position: absolute !important;
    text-align: center !important;
    top: 341px;
    display: block !important;
    max-width: 28% !important;
    border-radius: 5px;
    height: 33px !important;

    border: none !important;
    font-family: 'dana' !important;
    right: -46px;
    transform: scale(.4);
    left: 12px;
    margin-right: auto;
    margin-left: auto;
  }



}



@media screen and (min-width: 1200px) {.table td, .table th {
  padding: 1.75rem;

  border-top: 1px solid #dee2e6;
  height: 69px;
}

  .havi {
    top: -328px;
    position: relative;
    height: 1357px;
    background-color: rgb(255, 255, 255);
    padding-top: 758px;
    border-radius: 7px;
    width: 90%;
    margin: 351px auto 10px;
    right: 0px;
    left: 0px;
    border: 2px solid #7a7979;
}

  .moshakhasat {
   
    color: #000000 !important;
    top: -677px;
    font-size: 26px !important;
    font-family: 'dana';
    right: 0px;
    position: relative;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    letter-spacing: -1px;
}
  .register-form:hover {
    transition: all .4s;
    display: flex;
  box-shadow: 0px 4px 8px 4px rgb(158, 158, 170);
    z-index: 1;
    border: none!important;

  }

  .register-form:hover .form-enter {
    color: #06011f;
    border-radius: 155px!important;

  }

  .register-form {
    display: flex;
    height: 411px;
    width: 347px;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-evenly;
    right: 0px;
    padding: 10px;
    background-color: #ffffff;
    top: 355px;
    font-size: 17px !important;
    font-family: 'dana' !important;
    position: relative;
    z-index: 1;
    border: 2px solid rgb(18 18 20);
    padding-right: 20px !important;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    transform: scale(1.5);
    overflow: hidden;
}
.swal-button{
  font-family: 'dana';
  background-color: rgb(0, 12, 185);
  margin-right: auto;
  margin-left: auto;
  right: 165px;
  position: absolute;
  left: 0px;
  width: 100px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -53px;
  transform: scale(.7);
  font-size: 20px;
}
.swal-title {
  font-family: 'dana' !important;
  font-weight: 400!important;
  color: #000000 !important;
  font-size: 20px;
  top: -19px;
}
.swal-button:hover{  font-family: 'dana' !important;
  background-color: rgb(0, 46, 173) !important;}
  ::-webkit-input-placeholder {
    color: #070707 !important;

  }

  .form-container {
    height: 1115px;
    padding-left: 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 900;
    left: 0px;
    position: relative;
    top: -858px;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;
    right: 0px;
}

  .formparent {
    width: 403px;
  }

  .form-enter {
    border: 2px solid rgb(1, 3, 29) !important;
    background-color: rgb(247, 248, 253)!important;
    color: rgb(0 0 0) !important;
    font-size: 18px;
    font-weight: 400 !important;
    padding-top: 8px !important;
    text-align: center;
    top: -6px;
    min-width: 211px;
    display: block;
    padding-bottom: 35px;
    border-radius: 45px;
    font-family: 'dana' !important;

    height: 43px !important;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;


  }
  .form-enter:hover{transition:all .6s ease !important;color: rgb(255, 255, 255)!important;
    background-color: rgb(1, 1, 7) !important;
    border-radius: 15px;
  }
}