.copy {
    margin-top: -1453px !important;
    background-color: #18bc9c !important;
    width: 577px;
    height: 59px !important;
    font-size: 20px;
    right: -31px;
    position: relative;
    padding-top: 16px;
 
    border-radius: 0px;
    font-weight: 500;
    color: #ffffff !important;
    text-shadow: none;
    font-family: 'dana';
    z-index: 0;
    top: -1302px;
    font-weight: 400;
    opacity: 1;



    margin-bottom: -23px;
    border-radius: 52px;

}



@media only screen and (max-width: 1200px) {

    .copy {

        background-color: transparent !important;
    z-index: 0;
    color: rgb(255 255 255) !important;
    margin-top: 414px !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: 42px !important;
    font-size: 18px;
    z-index: 0;
    padding-top: 6px;
    position: relative;
    right: 12px;
    border-radius: 0px !important;
    width: fit-contentx !important;
    border-bottom: 1px rgb(255 255 255) solid !important;
}


}

@media only screen and (max-width: 992px) {
    .copy {
        width: -moz-fit-content !important;
        width: fit-content !important;
        top: -1300px;
        font-size: 16px !important;
        border-bottom: 1px rgb(240 255 246) solid !important;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        top: -514px;
        position: relative;
        right: 40px;

    }

    .copy {
    
        right: 0px;
        font-size: 14px !important;
        padding-top: 0px;
        top: -1361px !important;
        right: 0px;
        height: 34px !important;

        font-weight: 400;
    
    }
}

@media screen and (max-width: 576px) {

    .box {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        top: -529px !important;
        position: relative;
        right: 246px;


    }

    .copy {
        margin-top: 367px !important;
        font-size: 10px;
        position: relative;
        display: block !important;
        padding-top: 12px;
        width: fit-content !important;
        height: 36px !important;
        margin-right: auto;
        margin-left: auto;
        right: 0px;

    }

}

@media screen and (max-width: 338px) {

    .box {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        top: -529px !important;
        position: relative;
        right: 246px;


    }

    .copy {
        margin-top: 944px !important;
        font-size: 9px;
        position: relative;
        left: 56px !important;
        margin-left: -448px;
        display: block !important;
        right: -339px !important;
        padding-top: 13px;
        width: 216px !important;
     
        padding-left: -14px;
    }


}

@media screen and (min-width: 1200px) {
    .copy {
        font-size: 20px !important;
        font-weight: 400 !important;
        margin-top: 860px !important;
        background-color: #1004bb!important;
        z-index: 0;
        color: rgb(255 255 255)!important;
        margin-right: auto;
        margin-left: auto;
        right: 0px;
        width: -moz-fit-content;
        width: fit-content;
       
        text-align: center;
        border-radius: 0px;
      display: flex!important;
        font-family: 'dana';
        height: 60px!important;
    
    
        
    }

}

