* {
    text-decoration: none;

}



.zz {
    margin-top: -307px;

    color: black !important;
    padding-bottom: -20px;
    top: 143px;
    position: relative;
    margin-bottom: -47px;

    display: block !important;

    padding-top: 45px;

}

.animation-items {
    margin-top: 20px;
}

.shop-items {
    margin-top: 20px;
}

@media only screen and (max-width: 1200px) {

    .shop-count-count {

    align-items: center;
    background-color: #981c1c;
    border: 4px solid #fff;
    border-radius: 30px;
    color: #fff4f6;
    display: flex;
    font-family: dana;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    margin-bottom: -72px;
    position: relative;
    top: -80px;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    width: 60px;
    z-index: 4;
}








    .shop-item-image {
        height: 300px;
        width: 219px;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        right: 0px;
        left: 0px;
        top: 35px;
        z-index: 1;
        transform: scale(1.1);
    }

    .bottom-text {
        padding-top: 28px;
        margin-top: 125px;
        margin-bottom: 144px;
        text-align: center;
        justify-content: center !important;
        font-family: dana !important;
        align-items: center !important;
        height: 57px !important;
        direction: ltr;
        z-index: 2;
        font-size: 21px !important;
        left: 0px !important;
        top: -121px !important;
        right: 0px !important;
        position: absolute;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 200px !important;
        display: flex !important;
        color: #ece9e9 !important;
        background-color: rgb(122, 35, 0);
        border-radius: 55px !important;
        border: 1px solid rgb(31, 26, 26);
    }







    .shop-item-image {
        height: 372px;
        width:90%;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        right: 0px;
        left: 0px;
        top: 22px;
        z-index: 1;
        border-radius: 20px;
        border: 3px solid #ffffff;
    




    }




    .formcheck-shop {
        font-family: 'y';
        font-size: 13px;
        position: relative !important;
        width: 155px;
        top: 28px;
        text-align: center;
        margin-bottom: 24px;
      
        border-radius: 30px;
        left: 30px !important;
        direction: ltr;
     
        opacity: 1 !important;
        margin-left: auto !important;
        left: 0px !important;
        margin-top: -23;
        color: black;
        padding-right: -19px;
        transform: scale(1.2);
    
    

    }

    label {
        width: 101px;
        padding-right: 0px;
        z-index: 99999999;
        font-family: 'dana';
        font-size: 12px;
        font-weight: 400 !important;
        color: #dddddd;
        background-color: rgb(4, 8, 39)!important;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0px!important;
        left: 0px!important;
        position: relative;
        height: 30px;
        top: -8px;
        margin-left: auto!important;
        margin-right: auto!important;
        border: 1px solid rgb(116, 116, 116);
        z-index: 9999999999908888888!important;
        }
        label:hover{ z-index: 99999999;
            cursor: pointer;
            color: #ffffff;
            transition: all .5 ease-in;
            background-color: rgb(6, 24, 185)!important;
        }

        label:active {
            transform: scale(.97);
            background-color: rgb(1, 5, 43)!important;
        }
        .valed-parent-filters {
            height: 104px;
            width: 100%;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            z-index: 3;
            display: flex;
            margin-left: auto;
            right: 0px;
            left: 0px;
            margin-bottom: -199px;
            position: relative;
            padding-top: -16px;
            top: 400px !important;
            margin-top: 85px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            border-radius: 0px !important;
            border: 2px solid #333d46;
            align-items: center;
        
        }






    .bottom-text {
        padding-top: 2px;
        margin-top: 148px;
        margin-bottom: 144px;
        text-align: center;
        justify-content: center !important;
        font-family: dana !important;
        align-items: center !important;
        height: 47px !important;
        direction: ltr;
        z-index: 2;
        font-size: 16px !important;
        left: 0px !important;
        top: -228px !important;
        right: -1px !important;
        position: absolute;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 204px !important;
        display: flex !important;
        color: #c2c2c2 !important;
        border-radius: 55px !important;
        border: 1px solid #929292;
        font-weight: 400;
        background-color: #021133;
    
        }

    .zz {
        color: #000 !important;
        display: block !important;
        margin-bottom: -440px;
        margin-top: 436px;
        padding-bottom: -20px;
        padding-top: 45px;
        position: relative;
        top: 105px;

    }

    .one {
        position: absolute !important;
        display: flex !important;
        top: 55px !important;
        right: 45px;
    }

    .tow {
        position: absolute !important;
        top: 55px !important;
        display: flex !important;
        right: 120px;
    }

    .three {
        position: absolute !important;
        display: flex !important;
        right: 80px;
        top: 5px !important;
    }

    .all-actressimage {
        position: absolute !important;
        display: flex !important;
        width: 30% !important;
        height: 28% !important;
        top: 10px;
        margin-right: -33px;
        justify-content: center !important;
        border: 2px solid rgb(255, 255, 255);
        align-items: center !important;
        border-radius: 55px !important;
    }

    .actressimage {
        position: absolute !important;
        display: flex !important;
        width: 352px !important;
        height: 352px !important;
        top: 49px;
        justify-content: center !important;
        border: 7px solid rgb(255 255 255);
        align-items: center !important;
        border-radius: 18px !important;
        transform: scale(.79);



    }



    .btn-actress {
        right: 8px;
        left: 0px;
        top: 223px;
        height: 92px;
        color: rgb(255 255 255);
        background-color: rgb(238, 91, 5);
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;

        font-family: dana;
        z-index: 1;
        position: absolute !important;
        margin-right: auto !important;
        display: flex !important;
        margin-left: auto !important;
        width: 200px !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        align-self: flex-sr !important;
        font-size: 29px !important;
        font-weight: 400 !important;
        transform: skew(-2deg, -2deg)scale(.6);
        border: 3px solid #ffffff;

        border-radius: 5px;


    }

    .parent-actressimage {

        margin-left: auto;
        margin-right: auto;
        z-index: 1;


        height: 230px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        left: 0px;
        top: -199px;
        right: -30px;

        position: relative;
        margin-bottom: -55px;
        padding-right: 62px;




    }

    .valed-parent-actressimage {
        display: block;
        position: relative !important;
        top: 538px !important;
        margin-right: auto;
        margin-left: auto;
        width: 80% !important;

        margin-left: -333px;














    }









    .shop-count {

        color: rgb(255, 255, 255);
        width: 80px;
        height: 80px !important;

        position: fixed;

        z-index: 30;
        left: 0px !important;
        top: 200px !important;

        padding: 3px 4px !important;
        border-radius: 8px !important;


        justify-content: center !important;

        align-items: center !important;
        flex-direction: row !important;
        display: flex !important;

    }


    .shop-count-image {
        top: 9px !important;
        width: 58% !important;
        transform: rotate(-360deg) !important;
        z-index: 1 !important;
        height: 58% !important;
        background-color: #b23528;
        padding: 4px 10px 5px 5px !important;
        position: absolute !important;
        display: flex !important;
        border-radius: 6px;
    

    }



    .shop-items {
        margin-top: 5px;
        position: relative;
        top: 0px;
        transform: scale(.78);
        z-index: 0;
    
    }

    .animation-items {
        z-index: 0;
        top: -300px !important;
        margin-top: -230px !important;
        margin-left: auto !important;
        padding-top: 700px;
        margin-right: auto !important;
        right: -90px !important;
        width: 103% !important;
        display: flex !important;
        position: relative !important;

    }

    .parent-filters {
        margin-bottom: 1rem !important;
        display: flex;
    }

    .band-name-large-animation {
        align-items: center;
        text-shadow: none;
        color: #ffffff !important;
        font-family: 'dana';
        font-size: 30px;
    
        height: 104px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 35px;
        position: absolute;
        text-align: center;
        top: -101px;
        font-weight: 400 !important;
        z-index: 1;
        background-color: transparent;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 102% !important;
        display: block !important;
        right: -6px !important;
        left: 15px;
        font-weight: 400 !important;
        box-shadow: 2px 1px 7px rgb(87 94 95) !important;
    
    }

    .animation-items {
        z-index: 0 !important;
        position: relative !important;
        margin-top: 5px !important;
        top: -311px !important;
        right: 0px !important;
        width: 100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0px !important;

    }


    .shop-body {
        position: relative;
        top:-435px !important;
        margin-bottom: 20px;
        background-color: #0f0509;

        background-size:100% 1255px;
        background-image: url(tarik.png);
        background-repeat: no-repeat!important;


    }

    .valed-parent-actressimage {
        position: relative !important;
        top: 772px !important;
        margin-right: auto;
        height: 1300px;
        width: 983px !important;
        margin-left: auto;
        z-index: 0;
        display: flex;
        right: 0px;
        left: 0px;
    }




    .btn-parent {
        position: relative;
        width: 72% !important;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        top: -1822px !important;
        margin-top: 671px !important;
        right: 0px;
        left: 0px;
        background-color: transparent;
    }

.emily {
    background-color: #ff1717 !important;
}


.emily:hover {
    transition: all .2s;

    transform: scale(1.08) skew(-2deg, -2deg);
    background-color: #8d0909 !important;

}
    .btn-actress {
        right: -15px;
        left: 0px;
        top: 327px;
        height: 51px;
        color: rgb(255 255 255);
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;
        font-family: dana;
        z-index: 1;
        position: absolute !important;
        margin-right: auto !important;
        display: flex !important;
        margin-left: auto !important;
        width: 214px !important;
        text-align: center !important;
        width: 148px !important;
        background-color: #567900;
        justify-content: center !important;
        align-self: flex-sr !important;
        font-size: 20px !important;
        font-weight: 400 !important;
        transform: skew(-2deg, -2deg);
        border: 3px solid #ffffff;
    }
    .btn-actress:hover {
        transition: all .2s;

        transform: scale(1.08) skew(-2deg, -2deg);
        background-color: #1d5a00;

    }
}


@media only screen and (max-width: 992px) {


    .btn-actress {
 
        top: 240px;
      
        transform: skew(-2deg, -2deg)scale(.8);
        border: 2px solid #ffffff;
   
    
    }





    .formcheck-shop {
        font-family: 'y';
      

    }


 
    .bottom-text {
        transform: scale(.8);
        top: -221px !important;
   
    }





    .btn-actress {


        position: absolute !important;


    }

    .valed-parent-actressimage {
        position: relative !important;
        top: 4px !important;
        margin-right: auto;
        margin-left: auto;
        width: 693px !important;
        display: flex;
        right: 0px;
        left: 0px;
        height: 754px;
        margin-bottom: 630px;
    }

    .actressimage {
        position: absolute !important;
        display: flex !important;
        width: 252px !important;
        height: 252px !important;
        top: 49px;
        justify-content: center !important;
        border: 7px solid rgb(255 255 255);
        align-items: center !important;
        border-radius: 18px !important;
        transform: scale(.79);
    }

    .parent-actressimage {
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width: 79px !important;
        height: 160px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        left: 0px;
        top: 250px;
        border-radius: 15px !important;

        position: relative;
        right: -32px;
    }

    .shop-body {
        position: relative;
        top: -432px !important;
        margin-bottom: 20px;

    }

    .shop-items {
        margin-left: auto;
        margin-right: auto;
        top: -302px !important;
        z-index: 0 !important;
        width: 99%;
        right: 0px;
        position: absolute;
    
    }


    .animation-items {
        margin-left: auto;
        margin-right: auto;
        right: 28px;
        top: 652px !important;
        padding-top: 630px !important;
        width: 101%;
        right: -58px;
        display: flex;


    }

    .band-name-large-animation {

        top: 122px!important;
    }

    .zz {
        color: #000 !important;
        display: block !important;
        margin-bottom: -440px;
        margin-top: 415px;
        padding-bottom: -20px;
        padding-top: 45px;
        position: relative;
        top: -82px;


    }
    .valed-parent-filters {
        margin-bottom: 115px!important;
        top: 397px !important;
    }

    .shopha {
 
        left: 34px!important;
        margin-top: 509px;
        margin-bottom: -606px!important;
        right: -76px!important;
        top: -2571px!important;
        transform: scale(.6);
        margin-left: -140px!important;
        margin-right: 4px!important;
    }
    .btn-parent {
  
  
        top: -2550px !important;
        margin-top: 1071px !important;
    }
    .shopha:hover {

        transform: scale(.64) !important;
    }

  
}

@media only screen and (max-width: 768px) {
    .actressimage {


        position: absolute !important;
        display: flex !important;
        width: 181px !important;
        height: 178px !important;
        top: 61px;
        justify-content: center !important;
        border: 5px solid rgb(255 255 255);
        align-items: center !important;
        border-radius: 18px !important;
        transform: scale(.79);
        right: -14px;
        margin-right: 6px;
        margin-left: 11px;


    }

    .valed-parent-filters {
      
        margin-bottom: -97px!important;
        top: 519px !important;
    
    }




    .parent-filters {
        margin-bottom: 29rem !important;
        display: flex;
    }



    .formcheck-shop {
   
     
        top: 189px;
     
        margin-left: -17px !important;
        left: 0px !important;
    
  
    
    
    }

    .btn-parent {
        position: relative;
        width: 72% !important;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        top: -1810px !important;
        right: 0px;
        left: 0px;
    
    }

  

    .form-check-input {
        position: absolute;
        margin-top: 0.3rem;
        margin-left: -1.25rem;
    }



    .valed-parent-actressimage {
        display: block;
        position: relative !important;
        top: 440px !important;

        left: 0px !important;
        width: 575px !important;
        display: flex !important;
        margin-left: auto !important;
        right: 0px !important;
        margin-right: auto;



    }

    .parent-actressimage {
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width: 160% !important;
        height: 160px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        left: 0px;
        top: 189px;
        border-radius: 15px !important;

        position: relative;
        right: 0px;

    }








    .shop-items {
        margin-left: auto;
        margin-right: auto;

        top: -900px !important;
        z-index: 0 !important;

        width: 99%;
        right: 0px;


        position: absolute;

    }

    .shop-body {
        position: relative !important;

        height: 126%;
        margin-top: 67px;
        padding-top: 500px;
        overflow-y: hidden;
        top: -349px !important;
        margin-bottom: 20px;
    }

    .animation-items {
        z-index: 0 !important;
        margin-top: 94px !important;
        height: 1964px !important;
        top: -607px !important;
        margin-right: auto !important;
        margin-left: auto !important;
        right: -82px !important;
        width: 100% !important;
        margin-bottom: 330px !important;
        padding-right: 2px !important;
        padding-left: -176px !important;
    
    }

    .band-name-large-animation {
        align-items: center;
        text-shadow: none;
        color: #ffffff !important;
        align-items: center;
        text-shadow: none;
        color: #ffffff !important;
        font-family: 'y' !important;
        font-size: 25px;
        margin-top: 337px;
        height: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 28px;
        position: relative;
        text-align: center;
        top: 132px !important;
        font-weight: 400 !important;
        z-index: 0;
        border-radius: 0px;
        margin-right: auto;
        margin-left: auto;
        right: 0px !important;


    }


    .zz {
        color: #000 !important;
        display: block !important;
        margin-bottom: -1074px;
        margin-top: 118px;
        padding-bottom: -368px;
        padding-top: 45px;
        position: relative;
        top: -678px;
        background-color: #8fb19b !important;

    }

    .shopha {
        margin-left: -124px !important;
     
        margin-bottom: -663px !important;
        top: -1022px !important;
       
        right: 42px !important;
  
        margin-right: -73px !important;
        transform: scale(.5);
    
    }


    .shopha:hover {
        transition: all .1s !important;
        box-shadow: 2px 2px 24px 2px rgb(255, 19, 19) !important;
        transform: scale(.52)  !important;
    }
    .shop-count {
        color: rgb(255, 255, 255);
        width: 80px;
        height: 80px !important;
        position: fixed;
        z-index: 30;
        left: 24px !important;
        top: 200px !important;
        padding: 3px 4px !important;
        border-radius: 8px !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row !important;
        display: flex !important;
    }


}

@media screen and (max-width: 576px) {

    .btn-actress {


        right: 0px;
        left: 0px;
        top: 169px;
        height: -moz-fit-content;
        height: fit-content;
        color: rgb(255 255 255);
        background-color: rgb(238, 91, 5);
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;

        font-family: dana;
        z-index: 1;
        position: absolute !important;
        margin-right: auto !important;
        display: flex !important;
        margin-left: auto !important;
        width: 63% !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        align-self: flex-sr !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        transform: skew(-2deg, -2deg);
        border: 1px solid #ffffff;
    }



    .actressimage {
        position: absolute !important;
        display: flex !important;
        width: 100% !important;
        height: 152px !important;
        top: 49px;
        justify-content: center !important;
        border: 2px solid rgb(22, 142, 197);
        align-items: center !important;
        border-radius: 18px !important;
        transform: scale(.79);
        right: 0px !important;
        left: 0px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .formcheck-shop {
     
            top: 189px;
            margin-left: -58px !important;
            left: 0px !important;
            transform: scale(.9);
            right: 0px!important;
         
    }
    .valed-parent-filters {
     
            margin-bottom: -4px!important;
            top: 788px !important;
        }
    .shop-count {
        color: rgb(255, 255, 255);
        width: 80px;
        height: 80px !important;
        position: fixed;
        z-index: 30;
        left: 14px !important;
        top: 200px !important;
        padding: 3px 4px !important;
        border-radius: 8px !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row !important;
        display: flex !important;
    }





    .bottom-text {
        margin-top: 154px;
        transform: scale(.7) !important;
    }

    .valed-parent-actressimage {
        position: relative !important;
        margin-left: auto;
        width: 100% !important;
        right: 0px !important;
        left: 0px !important;
        margin-bottom: 58px !important;
        direction: rtl;
        top: 387px !important;
        display: flex;
    

    }

    .parent-actressimage {

        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width: 80% !important;
        height: 160px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        left: 0px;
        top: 406px;
        border-radius: 15px !important;
        margin-top: 15px;

        position: relative;
        right: 0px;
    }




    .shop-items {
        margin-top: 1933px !important;
        width: inherit;
        position: relative;
        height: 165rem;
        z-index: 0 !important;
        text-align: center;
        top: -1464px !important;
        display: block;
        margin-right: auto;
        margin-left: auto;
        right: 0px;
        left: 0px;
    
    }

    .shop-body {
        position: relative;
        top: -106px;

        height: 6545px;
        margin-top: 67px;
        padding-top: 500px;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        top: -249px !important;
        margin-bottom: 20px;
        width: 100%;
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px !important;
      left: 0px !important;
    }

    .band-name-large-animation {
    
        top: 112px !important;
      
        right: -55px !important;
    }

    

    .animation-items {
        margin-top: 34px !important;
  
 
        z-index: 0 !important;
        text-align: center;
        top: 150px !important;
    
        margin-right: auto !important;
        margin-left: auto !important;
        right: 0px !important;
      left: 0px !important;
    }

    .zz {
        height: 150px;
        margin-top: -132px;
        width: 520px;
        left: -55px;
        position: relative;
    }

    .shopha {
  display: block;
    margin-bottom: -221px !important;
    top: -632px !important;
    margin-right: auto !important;
    margin-left: auto!important;
    right: 0px !important;
    left: 0px !important;
    transform: scale(.5)!important;
   
    width: 480px!important;
   
    }

    .shopha:hover {
        overflow: hidden!important;
        transform: scale(.51) !important;
    }
}

@media screen and (max-width:338px) {
    .shop-items {

        margin-top: 1921px !important;
        width: inherit;
        position: relative;
     
        z-index: 0 !important;
        text-align: center;
        top: -478px !important;
        display: block;
        margin-right: auto;
        margin-left: auto;
        right: 0px;

    }

    .shop-body {
        position: relative;
        top: -106px;
     
        height: 5545px;
        margin-top: 67px;
        padding-top: 500px;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        top: -249px !important;
        margin-bottom: 20px;
        width: 100%;
    }

    .band-name-large-animation {

        align-items: center;
        text-shadow: none;
        color: #ffffff !important;
        align-items: center;
        text-shadow: none;
        color: #ffffff !important;
        font-family: 'y' !important;
        font-size: 18px;
      
        height: 39px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        position: relative;
        text-align: center;
        top: -549px;
      
        font-weight: 400 !important;
        z-index: 0;
        background-color: #1a2525 !important;
        border-radius: 35px;
        margin-right: auto;
        margin-left: auto;
        left: 0px;
        position: absolute;
        width: 200px;


    }

    .animation-items {

        margin-top: 1921px !important;
        width: inherit;
        position: relative;
   
        z-index: 0 !important;
        text-align: center;
        top: -478px !important;
        display: block;
        margin-right: auto;
        margin-left: auto;
        right: 0px;

    }

    .zz {
        height: 150px;
        margin-top: -300px;
        width: 520px;
        left: -55px;
        position: relative;
    }

    .shopha {

    
        margin-bottom: -226px !important;
        top: -1652px !important;
    
        transform: scale(.4) !important;
     
    
    }

    .valed-parent-actressimage {
        position: relative !important;
        margin-left: 197px !important;
        width: 41% !important;
        right: 223px !important;
        left: 429px !important;
        margin-bottom: 57px !important;
        direction: rtl;
        top: 519px !important;
        transform: scale(.7);
    }

}

@media only screen and (min-width: 1200px) {

    .shop-count-count {
        font-size: 20px;
        color: rgb(255, 244, 246);
        margin-bottom: -72px;
        font-family: 'dana';
        position: relative;
        top: -80px;
        background-color: #981c1c;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        transform: scale(.7);
        border: white 4px solid;
        z-index: 4;

      
    }

    .btn-parent {
        position: relative;
        width: 883px !important;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        display: block;

        top: -1865px !important;
        margin-top: 306px !important;
        right: -65px;
        left: 0px;
    }




    .band-name-large-animation {
        align-items: center;
        text-shadow: none;
        color: #ffffff !important;
        font-family: 'dana';
        font-size: 30px;
        margin-top: -139px;
        height: 104px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 35px;
        position: absolute;
        text-align: center;
        top: 2px;
        font-weight: 400 !important;
        z-index: 1;
        background-color: transparent;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 102% !important;
        display: block !important;
        right: -6px !important;
        left: 15px;
        font-weight: 400 !important;

        box-shadow: 2px 1px 7px rgb(87 94 95) !important;
    
    }





    .bottom-text {
        padding-top: 2px;
        margin-top: 148px;
        margin-bottom: 144px;
        text-align: center;
        justify-content: center !important;
        font-family: dana !important;
        align-items: center !important;
        height: 47px !important;
        direction: ltr;
        z-index: 2;
        font-size: 16px !important;
        left: 0px !important;
        top: -228px !important;
        right: -1px !important;
        position: absolute;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 204px !important;
        display: flex !important;
        color: #c2c2c2 !important;
        border-radius: 55px !important;
        border: 1px solid #929292;
        font-weight: 400;
    
        background-color: #021133;
    }

    .actressimage {
        position: absolute !important;
        display: flex !important;
        width: 300px !important;
        height: 300px !important;
        top: 94px;
        justify-content: center !important;
        border: 6px solid #3f5c6d;
        align-items: center !important;
        border-radius: 156px !important;
 
        transform: scale(.8);
    }
    .one {
        position: absolute !important;
        display: flex !important;
        top: 135px !important;
        right: -10px;
    }

    .tow {
        position: absolute !important;
        top: 105px !important;
        display: flex !important;
        right: 80px;
    }

    .three {
        position: absolute !important;
        display: flex !important;
        right: 35px !important;
        top: 25px !important;
    }

    .all-actressimage {
        position: absolute !important;
        display: flex !important;
        width: 25% !important;
        height: 25% !important;
        top: 94px !important;
        transform: scale(1.3);
        margin-right: 65px;
        justify-content: center !important;
        border: 2px solid rgb(32 95 8);
        align-items: center !important;
        border-radius: 75px !important;
    }

    .emily { border: 3px solid #312407 !important;
        background-color: #910101 !important;
      
    }

    .emily-image {
      border: 13px solid #312407 !important;
    }

    .emily:hover{
        transition: all .2s;
        transform: scale(.55) !important;
       
        background-color: #8d0909 !important;

    }


    .btn-actress {
      
    right: 0px;
    left: 0px;
    top: 293px;
    height: 155px;
    color: rgb(255 255 255);
    background-color: #021133;
 
    border-image: initial;
    font-family: dana;
    z-index: 1;
    position: absolute !important;
    margin-right: auto !important;
    display: flex !important;
    margin-left: auto !important;
    width: 155px !important;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    align-self: flex-sr !important;
    font-size: 34px !important;
    font-weight: 400 !important;
    transform: skew(-1deg, -1deg)scale(.5);
    border: 3px solid #3f5c6d;
    border-radius: 333px;
    padding: 10px;


    }

    .btn-actress:active {
        background-color: #000000!important;
        transform: skew(-1deg, -1deg)scale(.5)!important;

        color: rgb(255, 255, 255);
    }

    .btn-actress:hover {
        transition: all .2s;

        transform: scale(.55) rotate(-5deg);
        background-color: #02021d;

    }

    .parent-actressimage {
        margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 100%;
    height: 230px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    left: 0px;
    top: -173px;
    right: 0px;
    position: relative;
    margin-bottom: -55px;
    transform: scale(.75);
}

    .parent-filters {
        margin-bottom: 1rem !important;
        display: flex;
    }


    .valed-parent-filters {
        height: 104px;
        width:100%;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        z-index:3;
        display: flex;
        margin-left: auto;
        right: 0px;
        left: 0px;
        margin-bottom: -199px;
        position: relative;
        padding-top: -16px;
        top: -13px !important;
        margin-top: 85px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        border-radius: 0px !important;
        border: 2px solid #333d46;
        align-items: center;
    
    }

    .valed-parent-actressimage {
        top: 199px !important;
        margin-right: auto;
        height: 310px;
        width: 100%;
        align-items: center;
        z-index: 0;
        padding-left: 0px;
        padding-right: 0px;
        z-index: 0;
        display: flex;
        margin-left: auto;
        right: 0px;
        left: 0px;
        margin-bottom: 1176px;
        position: relative;
    
        padding-top: 80px;
        border: 2px solid #333d46;
    }
    
    


    .shop-count {

        color: rgb(255, 255, 255);
        width: 80px;
        height: 80px !important;

        position: fixed;

        z-index: 30;
        left: 0px !important;
        top: 200px !important;

        padding: 3px 4px !important;
        border-radius: 8px !important;


        justify-content: center !important;

        align-items: center !important;
        flex-direction: row !important;
        display: flex !important;

    }

    .shop-count-image {
        top: 9px !important;
        width: 58% !important;
        transform: rotate(-360deg) !important;
        z-index: 1 !important;
        height: 58% !important;
        background-color: #b23528;
        padding: 4px 10px 5px 5px !important;
        position: absolute !important;
        display: flex !important;
        border-radius: 6px;


    }








    .animation-items {
        z-index: 0;

    }

    .shop-body {
        position: relative;
        top: 288px!important;
        margin-bottom: 20px;
        background-color: #0f0509;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 4655px;
        right: 0px;
        left: 0px;
    background-size:100% 1255px;
        background-image: url(tarik.png);
        background-repeat: no-repeat!important;

        }






    .animation-items {
        top: -701px;
        position: relative;
        margin-top: 10px;
        width: 95%;
        right: 0px;
        margin-right: auto;
        margin-left: auto;
        left: 0px;
        padding-top: 580px;
        border-radius: 55px;
        margin-bottom: 184px;

    }


    .formcheck-shop {
        font-family: 'y';
        font-size: 13px;
        position: relative !important;
        left: 49px !important;
        width: 244px;
        top: 55px;
        text-align: center;
        margin-bottom: 51px;
        direction: ltr !important;
        transform: scale(1.3);

        height: 49px;
        padding-top: 0px !important;
        z-index: 1;
        right: 33px;

    }

    label {
        width: 101px;
        padding-right: 0px;
     z-index: 99999999;
        font-family: 'dana';
        font-size: 12px;
        font-weight: 400 !important;
        color: #dddddd;
        background-color: rgb(4, 8, 39)!important;
       
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0px!important;
       left: 0px!important;
        position: relative;
        height: 30px;
        top: -8px;
        margin-left:auto!important;
        margin-right:auto!important;
        border: 1px solid rgb(116, 116, 116);
    
    }

    label:hover{ z-index: 99999999;
        cursor: pointer;
        color: #ffffff;
        transition: all .5 ease-in;
        background-color: rgb(6, 24, 185)!important;
    }
    label:active{ transform: scale(.97);   background-color:rgb(1, 5, 43)!important;
    }


 

    .shop-items {
        top: -1236px;
        position: absolute;
        margin-top: 715px;
        width: 94%;
        right: 0px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        left: 0px;
    }



}